# Linear Regression

In [1]:
import pandas as pd 
import numpy as np

In [2]:
train_file='/home/dell/GIT_REPO/Python_AI_ML/intro-to-ml-with-python-master/week4/data//loan_data_train.csv'
test_file='/home/dell/GIT_REPO/Python_AI_ML/intro-to-ml-with-python-master/week4/data/loan_data_test.csv'

ld_train=pd.read_csv(train_file)
ld_test=pd.read_csv(test_file)

In [3]:
ld_test.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years

In [4]:
ld_train.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [5]:
# lets combine the data for data prep

ld_test['Interest.Rate']=np.nan
ld_train['data']='train'
ld_test['data']='test'
ld_test=ld_test[ld_train.columns]
ld_all=pd.concat([ld_train,ld_test],axis=0)

In [6]:
ld_all.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train

In [7]:
ld_all.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
dtype: object

In [8]:
# ID,Amount.Funded.By.Investors : drop 
# Interest Rate , Debt to income ratio : remove % and then to numeric
# Amount.Requested , 'Open.CREDIT.Lines','Revolving.CREDIT.Balance': convert it to numeric 
# FICO.Range : replace it by a numeric column which is average of the range
# Employment Length : convert to number
# Loan Lenth, Loan Purpose , State , Home ownership: dummies for categories with good occurence rate

In [9]:
ld_all.drop(['ID','Amount.Funded.By.Investors'],axis=1,inplace=True)

In [10]:
for col in ['Interest.Rate','Debt.To.Income.Ratio']:
    ld_all[col]=ld_all[col].str.replace("%","")

In [11]:
for col in ['Amount.Requested', 'Interest.Rate','Debt.To.Income.Ratio',
            'Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    ld_all[col]=pd.to_numeric(ld_all[col],errors='coerce')

In [12]:
k=ld_all['FICO.Range'].str.split("-",expand=True).astype(float)

ld_all['fico']=0.5*(k[0]+k[1])

del ld_all['FICO.Range']

In [13]:
ld_all['Employment.Length'].value_counts()

10+ years    653
< 1 year     249
2 years      243
3 years      235
5 years      202
4 years      191
1 year       177
6 years      163
7 years      127
8 years      108
9 years       72
.              2
Name: Employment.Length, dtype: int64

In [14]:
ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('years',"")

ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('year',"")

ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[:2]=="10",10,ld_all['Employment.Length'])

ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[0]=="<",0,ld_all['Employment.Length'])

ld_all['Employment.Length']=pd.to_numeric(ld_all['Employment.Length'],errors='coerce')

In [15]:
# Notice that to apply string function on pandas data frame columns you need to str attribute
cat_cols=ld_all.select_dtypes(['object']).columns

In [16]:
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership', 'data'], dtype='object')

In [17]:
cat_cols=cat_cols[:-1]

In [18]:
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

In [19]:
# you can use following method if you want to ignore categories with too low frequencies ,
#in next section for logistic regression we will be using  pandas' get dummies function. 
# you can work with either of these . 
#ignoring categories with low frequencies however will result in fewer columns without 
# affecting model performance too much .

for col in cat_cols:
    freqs=ld_all[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        ld_all[name]=(ld_all[col]==cat).astype(int)
    del ld_all[col]
    print(col)

Loan.Length
Loan.Purpose
State
Home.Ownership

In [20]:
ld_all.shape

(2500, 51)

In [21]:
ld_all.isnull().sum()

Amount.Requested                     5
Interest.Rate                      300
Debt.To.Income.Ratio                 1
Monthly.Income                       3
Open.CREDIT.Lines                    9
Revolving.CREDIT.Balance             5
Inquiries.in.the.Last.6.Months       3
Employment.Length                   80
data                                 0
fico                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_OK                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [22]:
for col in ld_all.columns:
    if (col not in ['Interest.Rate','data'])& (ld_all[col].isnull().sum()>0):
        ld_all.loc[ld_all[col].isnull(),col]=ld_all.loc[ld_all['data']=='train',col].mean()

In [23]:
ld_all.isnull().sum()

Amount.Requested                     0
Interest.Rate                      300
Debt.To.Income.Ratio                 0
Monthly.Income                       0
Open.CREDIT.Lines                    0
Revolving.CREDIT.Balance             0
Inquiries.in.the.Last.6.Months       0
Employment.Length                    0
data                                 0
fico                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_OK                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [24]:
ld_train=ld_all[ld_all['data']=='train']
del ld_train['data']
ld_test=ld_all[ld_all['data']=='test']
ld_test.drop(['Interest.Rate','data'],axis=1,inplace=True)

/home/dell/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [25]:
del ld_all

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
ld_train1,ld_train2=train_test_split(ld_train,test_size=0.2,random_state=2)

In [76]:
# Notice that only train data is used for imputing missing values in both train and test 

x_train1=ld_train1.drop('Interest.Rate',axis=1)
y_train1=ld_train1['Interest.Rate']
y_train1.head()

1936    19.91
610     14.27
372      6.03
1559    15.80
1500    19.69
Name: Interest.Rate, dtype: float64

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
lm=LinearRegression()

In [31]:
lm.fit(x_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
x_train1.shape

(1760, 49)

In [33]:
lm.intercept_

76.01913622059084

In [34]:
list(zip(x_train1.columns,lm.coef_))

[('Amount.Requested', 0.0001561443101214382),
 ('Debt.To.Income.Ratio', -0.0038442407741175947),
 ('Monthly.Income', -2.6406486110283148e-05),
 ('Open.CREDIT.Lines', -0.04022799798362851),
 ('Revolving.CREDIT.Balance', -4.04316567242935e-06),
 ('Inquiries.in.the.Last.6.Months', 0.336761302956464),
 ('Employment.Length', 0.0347338830221231),
 ('fico', -0.08669304194244765),
 ('Loan.Length_36 months', -3.142554743125377),
 ('Loan.Purpose_debt_consolidation', -0.4713597523618265),
 ('Loan.Purpose_credit_card', -0.6123429134596093),
 ('Loan.Purpose_other', 0.44626098118798163),
 ('Loan.Purpose_home_improvement', -0.36998297809737496),
 ('Loan.Purpose_major_purchase', -0.09745119837235894),
 ('Loan.Purpose_small_business', 0.06251542143811326),
 ('Loan.Purpose_car', 0.018748914316903675),
 ('Loan.Purpose_wedding', -0.783052054003569),
 ('Loan.Purpose_medical', -0.4221458946928683),
 ('Loan.Purpose_moving', 1.2768888222135197),
 ('State_CA', -0.2912081686519179),
 ('State_NY', -0.20784181354586106),
 ('State_TX', 0.38410917314652854),
 ('State_FL', 0.004847904465573715),
 ('State_IL', -0.7285946512366293),
 ('State_GA', -0.10949496877625157),
 ('State_PA', -0.6344637679429556),
 ('State_NJ', -0.5044859736086547),
 ('State_VA', -0.2704124450086851),
 ('State_MA', 0.010510217191507215),
 ('State_OH', -0.4428402101320414),
 ('State_MD', -0.09859435114848572),
 ('State_NC', -0.3804224871913895),
 ('State_CO', -0.13743161843769008),
 ('State_WA', -0.326283640729693),
 ('State_CT', 0.36543721069965374),
 ('State_AZ', 0.18311333972876923),
 ('State_MI', -0.2393622396211744),
 ('State_AL', -0.40309475046961774),
 ('State_MN', -0.15863702477325897),
 ('State_MO', -0.5142321949582139),
 ('State_NV', -0.20517727901177252),
 ('State_OR', 0.039027713793425796),
 ('State_SC', -0.058336173623127374),
 ('State_WI', -0.245120642345359),
 ('State_KY', 0.18705420527433653),
 ('State_LA', -0.1300984046716856),
 ('State_OK', -0.419212563322682),
 ('Home.Ownership_MORTGAGE', -0.4916810221538476),
 ('Home.Ownership_RENT', -0.23217518504343074)]

In [35]:
x_train2=ld_train2.drop('Interest.Rate',axis=1)

In [36]:
predicted_ir=lm.predict(x_train2)

In [37]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(ld_train2['Interest.Rate'],predicted_ir)

In [75]:
#MSE
from sklearn.metrics import mean_squared_error
mean_squared_error()

In [ ]:
#RMSE
from sklearn.metrics import routr_mean_squared_error

1.6292292194607279

We know the tentative performance now, lets build the model on entire training to make prediction on test/production

In [39]:
x_train=ld_train.drop('Interest.Rate',axis=1)
y_train=ld_train['Interest.Rate']

In [72]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [71]:
test_pred=lm.predict(ld_test)

We can write these to a csv file for submission like this :

In [42]:
#pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

# Ridge  Regression

In [43]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

In [44]:
lambdas=np.linspace(1,100,100)

In [45]:
params={'alpha':lambdas}

In [46]:
model=Ridge(fit_intercept=True)

In [47]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [48]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,...
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100.])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [49]:
grid_search.best_estimator_

Ridge(alpha=33.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [50]:
grid_search.cv_results_

{'mean_fit_time': array([0.01692436, 0.00311601, 0.00310903, 0.00311351, 0.00318427,
        0.00312104, 0.0030973 , 0.00310147, 0.00309556, 0.00308526,
        0.00307605, 0.00308933, 0.00308342, 0.00309923, 0.00331421,
        0.00388875, 0.00415311, 0.00364044, 0.00408113, 0.00460012,
        0.00395689, 0.00430801, 0.00463991, 0.00420671, 0.00431757,
        0.00434616, 0.00411053, 0.00385075, 0.00420575, 0.00452693,
        0.00382204, 0.00373533, 0.00382824, 0.0036459 , 0.00320249,
        0.00310149, 0.00310028, 0.00308735, 0.00317807, 0.00314121,
        0.00310166, 0.00308182, 0.00309713, 0.00310485, 0.00314353,
        0.00308442, 0.00309474, 0.00311046, 0.00310206, 0.00308568,
        0.00308318, 0.00309975, 0.00308557, 0.00309768, 0.00308602,
        0.00308642, 0.00309899, 0.00308166, 0.00309048, 0.00308743,
        0.00313818, 0.00310864, 0.00329261, 0.00400651, 0.00404367,
        0.00372777, 0.00442834, 0.00362992, 0.00314746, 0.00312746,
        0.00310748, 0.00310316, 0.00342259, 0.00334055, 0.00335767,
        0.00332329, 0.0033421 , 0.00313568, 0.0031719 , 0.00333447,
        0.00338683, 0.00341082, 0.00362947, 0.00315194, 0.00310369,
        0.00308578, 0.00311   , 0.0031009 , 0.00319135, 0.00337732,
        0.00335543, 0.00325227, 0.00312181, 0.00314496, 0.00310066,
        0.00310671, 0.00309191, 0.00312073, 0.00311096, 0.00331392]),
 'std_fit_time': array([3.98438181e-02, 6.28722270e-05, 4.14488900e-05, 4.85391185e-05,
        1.33520016e-04, 8.66043929e-05, 3.79946768e-05, 6.02699580e-05,
        2.68103892e-05, 3.23711064e-05, 1.10840026e-05, 3.99225770e-05,
        1.50565816e-05, 2.86401056e-05, 4.54507960e-04, 8.10934625e-04,
        7.12355353e-04, 6.87899805e-04, 1.10669153e-03, 1.44352920e-03,
        1.10584289e-03, 8.21642336e-04, 1.43781898e-03, 1.07861784e-03,
        1.45649961e-03, 1.01949869e-03, 6.49954189e-04, 9.25153802e-04,
        8.48677139e-04, 1.22484745e-03, 7.26755597e-04, 1.11848810e-03,
        6.68481027e-04, 7.41253761e-04, 1.63061081e-04, 2.12581150e-05,
        2.65791808e-05, 2.85947380e-05, 1.95504974e-04, 1.70891073e-04,
        1.91065531e-05, 1.26458302e-05, 2.43651773e-05, 5.87787680e-05,
        1.34703942e-04, 2.72317439e-05, 1.68735854e-05, 3.09457397e-05,
        4.31330774e-05, 1.39518878e-05, 2.97268484e-05, 4.85187432e-05,
        1.54512163e-05, 2.35072014e-05, 2.47776559e-05, 2.57485884e-05,
        4.23771771e-05, 1.20618125e-05, 2.28061298e-05, 1.91214673e-05,
        1.47788185e-04, 4.46546224e-05, 3.37862931e-04, 7.68768286e-04,
        7.01961010e-04, 8.16763275e-04, 1.30101846e-03, 6.68859178e-04,
        5.74787786e-05, 6.56792990e-05, 3.49895897e-05, 2.31377093e-05,
        3.52685122e-04, 1.94004087e-04, 2.23545091e-04, 3.01391912e-04,
        2.48024404e-04, 7.36444850e-05, 1.76944576e-04, 1.93616785e-04,
        2.31842576e-04, 3.09285840e-04, 6.52326316e-04, 6.81731068e-05,
        1.82563257e-05, 1.80566622e-05, 4.75133056e-05, 2.48553970e-05,
        1.99578062e-04, 3.47998510e-04, 2.97232438e-04, 1.64727777e-04,
        6.59165759e-05, 7.68343924e-05, 3.10997731e-05, 3.40164496e-05,
        2.22714604e-05, 8.70285326e-05, 6.32489980e-05, 5.70803996e-04]),
 'mean_score_time': array([0.00112419, 0.00098186, 0.00098059, 0.00099082, 0.00101473,
        0.00099099, 0.00098441, 0.0009846 , 0.00099316, 0.00097873,
        0.00097327, 0.00098326, 0.00097601, 0.00098071, 0.00103741,
        0.0011457 , 0.00116856, 0.00141199, 0.00119619, 0.00134263,
        0.00128336, 0.00140469, 0.001599  , 0.00121386, 0.00137763,
        0.00126922, 0.00157764, 0.00158844, 0.00140152, 0.00146246,
        0.00159287, 0.00171635, 0.00144825, 0.00102494, 0.0010066 ,
        0.00098374, 0.00099976, 0.00098031, 0.00099008, 0.00099587,
        0.00099597, 0.00097678, 0.00097749, 0.00099831, 0.00098355,
        0.00097806, 0.00097394, 0.0009793 , 0.00099275, 0.00097883,
        0.00098245, 0.00097692, 0.00099363, 0.0009831 , 0.00097406,
        0.00097692, 0.00097439, 0.00096917, 0.0009768 , 0.00097954,
        0.00098999, 0.00099263, 0.00101607, 0.00110388, 0.00106854,
        0.00132241, 0.00116096, 0.00104969, 0.00099118, 0.00100439,
        0.00097611, 0.00098357, 0.00108359, 0.00109737, 0.00103383,
        0.00108819, 0.00106194, 0.00097651, 0.00101664, 0.00101943,
        0.00105422, 0.00104651, 0.00107443, 0.00100811, 0.00098813,
        0.00097795, 0.00097899, 0.00097308, 0.00099478, 0.00105445,
        0.00104251, 0.00105443, 0.00098441, 0.00100951, 0.00098057,
        0.00097678, 0.00097611, 0.0009788 , 0.00097461, 0.00107498]),
 'std_score_time': array([1.59243008e-04, 1.19432241e-05, 1.17695012e-05, 2.13394085e-05,
        9.65144470e-05, 2.71513125e-05, 1.30441112e-05, 2.75882440e-05,
        2.91739402e-05, 1.22610449e-05, 1.16629339e-05, 1.92090374e-05,
        1.06560303e-05, 1.41562023e-05, 1.42064899e-04, 2.74675322e-04,
        2.26303169e-04, 4.04002348e-04, 2.70409803e-04, 5.28500224e-04,
        2.99058467e-04, 4.71791659e-04, 5.12220487e-04, 3.24046444e-04,
        4.36889823e-04, 3.66694599e-04, 5.76482610e-04, 5.24750196e-04,
        4.73013919e-04, 5.73775856e-04, 5.88597714e-04, 5.37393197e-04,
        4.72038986e-04, 3.08463245e-05, 6.17549224e-05, 1.92563264e-05,
        4.43418883e-05, 1.30982967e-05, 1.68601049e-05, 6.02319136e-05,
        2.55704788e-05, 1.08607187e-05, 1.25795797e-05, 7.50294442e-05,
        2.51978211e-05, 2.26866397e-05, 1.49608371e-05, 1.63466322e-05,
        5.24940594e-05, 1.86699407e-05, 2.69229476e-05, 1.07707424e-05,
        4.99659818e-05, 1.47747207e-05, 1.12705433e-05, 1.24987970e-05,
        1.90088398e-05, 9.50390407e-06, 1.37842233e-05, 1.72250617e-05,
        4.16689997e-05, 3.40456722e-05, 8.61080014e-05, 1.69059452e-04,
        1.25647758e-04, 4.76301682e-04, 2.64255461e-04, 8.72001441e-05,
        2.19420363e-05, 5.95390006e-05, 1.11106383e-05, 1.49091508e-05,
        1.41401774e-04, 1.34852510e-04, 5.96021461e-05, 1.71714046e-04,
        1.10909107e-04, 1.17459811e-05, 5.01207175e-05, 4.71593878e-05,
        8.70287286e-05, 8.52064906e-05, 2.30812219e-04, 7.54051329e-05,
        1.90437353e-05, 1.59265752e-05, 1.13065722e-05, 9.77469653e-06,
        3.71349011e-05, 1.56943330e-04, 7.72982449e-05, 1.08139435e-04,
        1.72597432e-05, 3.38671557e-05, 1.44115305e-05, 1.42519479e-05,
        1.54999400e-05, 1.12154086e-05, 1.05771898e-05, 2.36495699e-04]),
 'param_alpha': masked_array(data=[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0,
                    11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0,
                    20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0,
                    29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0,
                    38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0,
                    47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
                    56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0,
                    65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0,
                    74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0,
                    83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0,
                    92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 1.0},
  {'alpha': 2.0},
  {'alpha': 3.0},
  {'alpha': 4.0},
  {'alpha': 5.0},
  {'alpha': 6.0},
  {'alpha': 7.0},
  {'alpha': 8.0},
  {'alpha': 9.0},
  {'alpha': 10.0},
  {'alpha': 11.0},
  {'alpha': 12.0},
  {'alpha': 13.0},
  {'alpha': 14.0},
  {'alpha': 15.0},
  {'alpha': 16.0},
  {'alpha': 17.0},
  {'alpha': 18.0},
  {'alpha': 19.0},
  {'alpha': 20.0},
  {'alpha': 21.0},
  {'alpha': 22.0},
  {'alpha': 23.0},
  {'alpha': 24.0},
  {'alpha': 25.0},
  {'alpha': 26.0},
  {'alpha': 27.0},
  {'alpha': 28.0},
  {'alpha': 29.0},
  {'alpha': 30.0},
  {'alpha': 31.0},
  {'alpha': 32.0},
  {'alpha': 33.0},
  {'alpha': 34.0},
  {'alpha': 35.0},
  {'alpha': 36.0},
  {'alpha': 37.0},
  {'alpha': 38.0},
  {'alpha': 39.0},
  {'alpha': 40.0},
  {'alpha': 41.0},
  {'alpha': 42.0},
  {'alpha': 43.0},
  {'alpha': 44.0},
  {'alpha': 45.0},
  {'alpha': 46.0},
  {'alpha': 47.0},
  {'alpha': 48.0},
  {'alpha': 49.0},
  {'alpha': 50.0},
  {'alpha': 51.0},
  {'alpha': 52.0},
  {'alpha': 53.0},
  {'alpha': 54.0},
  {'alpha': 55.0},
  {'alpha': 56.0},
  {'alpha': 57.0},
  {'alpha': 58.0},
  {'alpha': 59.0},
  {'alpha': 60.0},
  {'alpha': 61.0},
  {'alpha': 62.0},
  {'alpha': 63.0},
  {'alpha': 64.0},
  {'alpha': 65.0},
  {'alpha': 66.0},
  {'alpha': 67.0},
  {'alpha': 68.0},
  {'alpha': 69.0},
  {'alpha': 70.0},
  {'alpha': 71.0},
  {'alpha': 72.0},
  {'alpha': 73.0},
  {'alpha': 74.0},
  {'alpha': 75.0},
  {'alpha': 76.0},
  {'alpha': 77.0},
  {'alpha': 78.0},
  {'alpha': 79.0},
  {'alpha': 80.0},
  {'alpha': 81.0},
  {'alpha': 82.0},
  {'alpha': 83.0},
  {'alpha': 84.0},
  {'alpha': 85.0},
  {'alpha': 86.0},
  {'alpha': 87.0},
  {'alpha': 88.0},
  {'alpha': 89.0},
  {'alpha': 90.0},
  {'alpha': 91.0},
  {'alpha': 92.0},
  {'alpha': 93.0},
  {'alpha': 94.0},
  {'alpha': 95.0},
  {'alpha': 96.0},
  {'alpha': 97.0},
  {'alpha': 98.0},
  {'alpha': 99.0},
  {'alpha': 100.0}],
 'split0_test_score': array([-1.72253875, -1.72334901, -1.72413461, -1.72487488, -1.72555884,
        -1.72619876, -1.72680296, -1.72739264, -1.72799979, -1.72860761,
        -1.72924003, -1.72986019, -1.73046393, -1.73105275, -1.73162788,
        -1.73219041, -1.73274126, -1.73328123, -1.73381104, -1.73433129,
        -1.73484256, -1.73534533, -1.73584005, -1.73632711, -1.7368069 ,
        -1.73727973, -1.73774592, -1.73820573, -1.73865943, -1.73910726,
        -1.73954942, -1.73998613, -1.74045126, -1.7409615 , -1.74151634,
        -1.74206533, -1.74260866, -1.74314646, -1.74367889, -1.74423658,
        -1.74490884, -1.74559775, -1.74628059, -1.74695747, -1.74762852,
        -1.74829384, -1.74895355, -1.74963028, -1.75030137, -1.75096685,
        -1.7516268 , -1.75228134, -1.75294321, -1.75361999, -1.75429091,
        -1.75495607, -1.75561557, -1.75626952, -1.75691802, -1.75756116,
        -1.75819904, -1.75883174, -1.75945935, -1.76008195, -1.76069963,
        -1.76135125, -1.76199821, -1.76264021, -1.76328149, -1.76393606,
        -1.7645857 , -1.76523048, -1.76587048, -1.76650575, -1.76713638,
        -1.76777118, -1.76841472, -1.7690536 , -1.76968788, -1.77031762,
        -1.77094289, -1.77156375, -1.77218025, -1.77279245, -1.7734004 ,
        -1.77400417, -1.77460381, -1.77519936, -1.77579088, -1.77637841,
        -1.77696202, -1.77754174, -1.77811762, -1.7786897 , -1.77925804,
        -1.77982268, -1.78038366, -1.78094102, -1.7814948 , -1.78204505]),
 'split1_test_score': array([-1.7654695 , -1.76254819, -1.75985944, -1.75760418, -1.75562082,
        -1.75378061, -1.75201293, -1.75031812, -1.74869452, -1.74719625,
        -1.74582755, -1.74451818, -1.74326483, -1.74206429, -1.74091344,
        -1.73980935, -1.73874927, -1.73777868, -1.73691135, -1.73610036,
        -1.73536048, -1.7346499 , -1.73396695, -1.73331008, -1.73267785,
        -1.73206893, -1.73148205, -1.73091605, -1.73036987, -1.72984247,
        -1.72933291, -1.72884032, -1.72836385, -1.72790275, -1.7274568 ,
        -1.72707513, -1.72670934, -1.72635564, -1.72601349, -1.72568236,
        -1.72536178, -1.72505129, -1.72475045, -1.72445886, -1.72417613,
        -1.72390189, -1.72363581, -1.72337755, -1.7231268 , -1.72288327,
        -1.72264667, -1.72241675, -1.72219325, -1.72197593, -1.72176456,
        -1.72155892, -1.72135881, -1.72116403, -1.72097439, -1.7207897 ,
        -1.72060981, -1.72043453, -1.72026372, -1.72009723, -1.71994335,
        -1.71981361, -1.71968741, -1.71956463, -1.71944516, -1.71932888,
        -1.71921568, -1.71910548, -1.71899817, -1.71889366, -1.71879186,
        -1.71869269, -1.71859605, -1.71850188, -1.71841009, -1.71832062,
        -1.71826736, -1.71821807, -1.7181708 , -1.71812546, -1.718082  ,
        -1.71804037, -1.71803622, -1.71806773, -1.71810919, -1.71815175,
        -1.71819535, -1.71823996, -1.71828553, -1.71833203, -1.71837943,
        -1.71842768, -1.71847675, -1.71852661, -1.71858255, -1.71868105]),
 'split2_test_score': array([-1.77330129, -1.77132736, -1.76955818, -1.76800466, -1.76662231,
        -1.76534921, -1.76423207, -1.76390196, -1.76360635, -1.76334008,
        -1.76309915, -1.76288041, -1.76268126, -1.76249961, -1.76233367,
        -1.76218193, -1.76204313, -1.76191612, -1.76179996, -1.76169377,
        -1.7615968 , -1.76150838, -1.76142983, -1.76139326, -1.76136284,
        -1.76133815, -1.76131881, -1.76130448, -1.76129484, -1.7612896 ,
        -1.76128849, -1.76129128, -1.76129771, -1.7613076 , -1.76132073,
        -1.76133693, -1.76135603, -1.76137786, -1.76140228, -1.76142915,
        -1.76145834, -1.7615619 , -1.76173634, -1.7619108 , -1.76208522,
        -1.76230921, -1.7625647 , -1.7628193 , -1.76307309, -1.76333176,
        -1.76358936, -1.76384588, -1.76410129, -1.76435561, -1.76460882,
        -1.76486091, -1.76511189, -1.76536174, -1.76561047, -1.76586298,
        -1.76613568, -1.7664275 , -1.7667355 , -1.7670444 , -1.76739335,
        -1.76776096, -1.76812639, -1.76848965, -1.76885077, -1.76920976,
        -1.76956663, -1.76992141, -1.77027411, -1.77064263, -1.77102285,
        -1.77140041, -1.77177533, -1.77214766, -1.77251742, -1.77288465,
        -1.77324939, -1.77361165, -1.77397149, -1.77432892, -1.77468398,
        -1.77503669, -1.77538708, -1.77573519, -1.77608103, -1.77642464,
        -1.77676604, -1.77710526, -1.77744232, -1.77777724, -1.77811006,
        -1.77844079, -1.77876946, -1.77909609, -1.7794207 , -1.77974331]),
 'split3_test_score': array([-1.64257232, -1.64188608, -1.64137536, -1.64123067, -1.64114369,
        -1.64106527, -1.64099094, -1.64091412, -1.64083459, -1.64075238,
        -1.64066765, -1.64063235, -1.64060874, -1.64058298, -1.64055526,
        -1.64052578, -1.6404947 , -1.6404759 , -1.64050422, -1.64053052,
        -1.64055491, -1.64057755, -1.64059854, -1.640618  , -1.64063602,
        -1.6406527 , -1.64066812, -1.64068236, -1.64069549, -1.64070758,
        -1.64071869, -1.64072887, -1.64073818, -1.64075221, -1.64076743,
        -1.64078198, -1.64079589, -1.64081098, -1.64083316, -1.64085481,
        -1.64087596, -1.64089662, -1.64091683, -1.6409366 , -1.64095594,
        -1.64097488, -1.64099343, -1.6410116 , -1.6410386 , -1.64108876,
        -1.64113822, -1.641187  , -1.6412351 , -1.64128256, -1.64132937,
        -1.64137557, -1.64142116, -1.64146616, -1.64151058, -1.64155444,
        -1.64159774, -1.64164051, -1.64168616, -1.64177882, -1.64188075,
        -1.64198176, -1.64208185, -1.64218106, -1.64227938, -1.64237683,
        -1.64247344, -1.64256921, -1.64266417, -1.64275831, -1.64285167,
        -1.64294424, -1.64303605, -1.6431271 , -1.6432174 , -1.64334236,
        -1.6434815 , -1.64365065, -1.64381863, -1.64398543, -1.64415105,
        -1.64431551, -1.64451128, -1.64471124, -1.64490992, -1.64512682,
        -1.6453466 , -1.64556505, -1.6457822 , -1.64599806, -1.64621263,
        -1.64642594, -1.64663799, -1.6468488 , -1.64705838, -1.64726674]),
 'split4_test_score': array([-1.45032777, -1.44944355, -1.4484879 , -1.44748883, -1.44647726,
        -1.4454701 , -1.44447677, -1.44350249, -1.44256588, -1.44168861,
        -1.44085813, -1.44006867, -1.43930796, -1.43863644, -1.43798283,
        -1.43734646, -1.43672661, -1.43612257, -1.43553361, -1.43495906,
        -1.43439823, -1.43385049, -1.43331895, -1.43280049, -1.43229345,
        -1.43187231, -1.43147328, -1.43109384, -1.43077346, -1.43046125,
        -1.4301564 , -1.42985855, -1.42959562, -1.42936848, -1.42914728,
        -1.42893174, -1.42872162, -1.42851666, -1.42831665, -1.42812138,
        -1.4279489 , -1.42778697, -1.42762858, -1.42749047, -1.42738814,
        -1.42732973, -1.42727366, -1.42721981, -1.42716809, -1.42711841,
        -1.42707066, -1.42702478, -1.42698067, -1.42697524, -1.42697527,
        -1.42697639, -1.42697854, -1.42698166, -1.42698571, -1.42699065,
        -1.42699643, -1.42700301, -1.42701035, -1.42701842, -1.42702718,
        -1.427038  , -1.427077  , -1.4271164 , -1.42715618, -1.42719631,
        -1.42723676, -1.42727752, -1.42731857, -1.42737806, -1.42748368,
        -1.42759128, -1.42769828, -1.42780465, -1.42791043, -1.42801559,
        -1.42812016, -1.42822413, -1.42832751, -1.4284303 , -1.4285325 ,
        -1.42863413, -1.42873517, -1.42883565, -1.42893556, -1.42905029,
        -1.42918566, -1.42932026, -1.42945411, -1.42958721, -1.42972478,
        -1.42988176, -1.43003782, -1.43019296, -1.43034719, -1.43050051]),
 'split5_test_score': array([-1.64004633, -1.63901912, -1.63809581, -1.63724413, -1.63644519,
        -1.63571198, -1.63503705, -1.63438817, -1.63376158, -1.63315448,
        -1.63256471, -1.63199058, -1.63143075, -1.63088408, -1.63034965,
        -1.62982668, -1.62931551, -1.62881538, -1.62832496, -1.62784377,
        -1.6273714 , -1.62690747, -1.62645163, -1.62600355, -1.62556295,
        -1.62512954, -1.62470308, -1.62428332, -1.62389331, -1.62352364,
        -1.6231607 , -1.62280427, -1.62245412, -1.62211005, -1.62177185,
        -1.62143935, -1.62111236, -1.62079073, -1.62047427, -1.62016285,
        -1.61985632, -1.61955454, -1.61925736, -1.61896467, -1.61870472,
        -1.61850196, -1.61830247, -1.61811862, -1.61795548, -1.61779498,
        -1.61763706, -1.61748165, -1.61732867, -1.61717806, -1.61702977,
        -1.61691654, -1.61682553, -1.61673638, -1.61664903, -1.61656344,
        -1.61647955, -1.61639732, -1.61631671, -1.61623766, -1.61616015,
        -1.61608412, -1.61600953, -1.61593636, -1.61590137, -1.61587843,
        -1.61585653, -1.61583566, -1.61581576, -1.61579683, -1.61577882,
        -1.61576171, -1.61574548, -1.61573824, -1.61573343, -1.61572926,
        -1.61572573, -1.61572281, -1.61575581, -1.61580089, -1.6158461 ,
        -1.61589143, -1.61593686, -1.61598239, -1.616028  , -1.6160737 ,
        -1.61612519, -1.6161877 , -1.61625009, -1.6163323 , -1.61643082,
        -1.61652898, -1.61662679, -1.61672424, -1.61682134, -1.61691809]),
 'split6_test_score': array([-1.42603072, -1.42527953, -1.42460292, -1.42412197, -1.42377146,
        -1.42343705, -1.4231159 , -1.4228061 , -1.42250629, -1.42223274,
        -1.42201914, -1.42187527, -1.42174739, -1.4216242 , -1.42150551,
        -1.42139111, -1.42128084, -1.42118202, -1.42110588, -1.42103293,
        -1.42097021, -1.42094471, -1.42094401, -1.42095835, -1.42097542,
        -1.4209951 , -1.4210173 , -1.42104192, -1.42106888, -1.42109809,
        -1.42112945, -1.4211629 , -1.42119835, -1.42123572, -1.42127494,
        -1.42131595, -1.4213738 , -1.42146381, -1.42155485, -1.42164688,
        -1.42173985, -1.42183372, -1.42192844, -1.42202587, -1.42213753,
        -1.42224978, -1.42236257, -1.42247587, -1.42258965, -1.42270387,
        -1.42281851, -1.42293354, -1.42304892, -1.42316463, -1.42328064,
        -1.42340141, -1.42353523, -1.42366914, -1.42380312, -1.42393716,

 if you want you can now fit a ridge regression model with obtained value of alpha , although there is no need, grid search automatically fits the best estimator on the entire data, you can directly use this to make predictions on test_data. But if you want to look at coefficients , its much more convenient to fit the model with direct function

Using the report function given below you can see the cv performance of top few models as well, that will the tentative performance

In [51]:
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [52]:
report(grid_search.cv_results_,100)

Model with rank: 1
Mean validation score: -1.610 (std: 0.117)
Parameters: {'alpha': 33.0}

Model with rank: 2
Mean validation score: -1.610 (std: 0.117)
Parameters: {'alpha': 34.0}

Model with rank: 3
Mean validation score: -1.610 (std: 0.117)
Parameters: {'alpha': 32.0}

Model with rank: 4
Mean validation score: -1.610 (std: 0.117)
Parameters: {'alpha': 35.0}

Model with rank: 5
Mean validation score: -1.610 (std: 0.117)
Parameters: {'alpha': 31.0}

Model with rank: 6
Mean validation score: -1.610 (std: 0.117)
Parameters: {'alpha': 36.0}

Model with rank: 7
Mean validation score: -1.610 (std: 0.117)
Parameters: {'alpha': 30.0}

Model with rank: 8
Mean validation score: -1.610 (std: 0.117)
Parameters: {'alpha': 37.0}

Model with rank: 9
Mean validation score: -1.610 (std: 0.117)
Parameters: {'alpha': 29.0}

Model with rank: 10
Mean validation score: -1.610 (std: 0.118)
Parameters: {'alpha': 38.0}

Model with rank: 11
Mean validation score: -1.610 (std: 0.117)
Parameters: {'alpha': 28.0}

Model with rank: 12
Mean validation score: -1.610 (std: 0.118)
Parameters: {'alpha': 39.0}

Model with rank: 13
Mean validation score: -1.610 (std: 0.117)
Parameters: {'alpha': 27.0}

Model with rank: 14
Mean validation score: -1.610 (std: 0.118)
Parameters: {'alpha': 40.0}

Model with rank: 15
Mean validation score: -1.610 (std: 0.117)
Parameters: {'alpha': 26.0}

Model with rank: 16
Mean validation score: -1.610 (std: 0.118)
Parameters: {'alpha': 41.0}

Model with rank: 17
Mean validation score: -1.611 (std: 0.117)
Parameters: {'alpha': 25.0}

Model with rank: 18
Mean validation score: -1.611 (std: 0.118)
Parameters: {'alpha': 42.0}

Model with rank: 19
Mean validation score: -1.611 (std: 0.116)
Parameters: {'alpha': 24.0}

Model with rank: 20
Mean validation score: -1.611 (std: 0.118)
Parameters: {'alpha': 43.0}

Model with rank: 21
Mean validation score: -1.611 (std: 0.116)
Parameters: {'alpha': 23.0}

Model with rank: 22
Mean validation score: -1.611 (std: 0.118)
Parameters: {'alpha': 44.0}

Model with rank: 23
Mean validation score: -1.611 (std: 0.116)
Parameters: {'alpha': 22.0}

Model with rank: 24
Mean validation score: -1.611 (std: 0.118)
Parameters: {'alpha': 45.0}

Model with rank: 25
Mean validation score: -1.611 (std: 0.116)
Parameters: {'alpha': 21.0}

Model with rank: 26
Mean validation score: -1.611 (std: 0.118)
Parameters: {'alpha': 46.0}

Model with rank: 27
Mean validation score: -1.611 (std: 0.116)
Parameters: {'alpha': 20.0}

Model with rank: 28
Mean validation score: -1.611 (std: 0.118)
Parameters: {'alpha': 47.0}

Model with rank: 29
Mean validation score: -1.611 (std: 0.116)
Parameters: {'alpha': 19.0}

Model with rank: 30
Mean validation score: -1.611 (std: 0.118)
Parameters: {'alpha': 48.0}

Model with rank: 31
Mean validation score: -1.611 (std: 0.116)
Parameters: {'alpha': 18.0}

Model with rank: 32
Mean validation score: -1.611 (std: 0.119)
Parameters: {'alpha': 49.0}

Model with rank: 33
Mean validation score: -1.611 (std: 0.116)
Parameters: {'alpha': 17.0}

Model with rank: 34
Mean validation score: -1.611 (std: 0.119)
Parameters: {'alpha': 50.0}

Model with rank: 35
Mean validation score: -1.612 (std: 0.116)
Parameters: {'alpha': 16.0}

Model with rank: 36
Mean validation score: -1.612 (std: 0.119)
Parameters: {'alpha': 51.0}

Model with rank: 37
Mean validation score: -1.612 (std: 0.116)
Parameters: {'alpha': 15.0}

Model with rank: 38
Mean validation score: -1.612 (std: 0.119)
Parameters: {'alpha': 52.0}

Model with rank: 39
Mean validation score: -1.612 (std: 0.119)
Parameters: {'alpha': 53.0}

Model with rank: 40
Mean validation score: -1.612 (std: 0.116)
Parameters: {'alpha': 14.0}

Model with rank: 41
Mean validation score: -1.612 (std: 0.119)
Parameters: {'alpha': 54.0}

Model with rank: 42
Mean validation score: -1.612 (std: 0.116)
Parameters: {'alpha': 13.0}

Model with rank: 43
Mean validation score: -1.612 (std: 0.119)
Parameters: {'alpha': 55.0}

Model with rank: 44
Mean validation score: -1.612 (std: 0.116)
Parameters: {'alpha': 12.0}

Model with rank: 45
Mean validation score: -1.612 (std: 0.119)
Parameters: {'alpha': 56.0}

Model with rank: 46
Mean validation score: -1.613 (std: 0.119)
Parameters: {'alpha': 57.0}

Model with rank: 47
Mean validation score: -1.613 (std: 0.116)
Parameters: {'alpha': 11.0}

Model with rank: 48
Mean validation score: -1.613 (std: 0.119)
Parameters: {'alpha': 58.0}

Model with rank: 49
Mean validation score: -1.613 (std: 0.120)
Parameters: {'alpha': 59.0}

Model with rank: 50
Mean validation score: -1.613 (std: 0.115)
Parameters: {'alpha': 10.0}

Model with rank: 51
Mean validation score: -1.613 (std: 0.120)
Parameters: {'alpha': 60.0}

Model with rank: 52
Mean validation score: -1.613 (std: 0.120)
Parameters: {'alpha': 61.0}

Model with rank: 53
Mean validation score: -1.613 (std: 0.115)
Parameters: {'alpha': 9.0}

Model with rank: 54
Mean validation score: -1.614 (std: 0.120)
Parameters: {'alpha': 62.0}

Model with rank: 55
Mean validation score: -1.614 (std: 0.120)
Parameters: {'alpha': 63.0}

Model with rank: 56
Mean validation score: -1.614 (std: 0.115)
Parameters: {'alpha': 8.0}

Model with rank: 57
Mean validation score: -1.614 (std: 0.120)
Parameters: {'alpha': 64.0}

Model with rank: 58
Mean validation score: -1.614 (std: 0.120)
Parameters: {'alpha': 65.0}

Model with rank: 59
Mean validation score: -1.614 (std: 0.115)
Parameters: {'alpha': 7.0}

Model with rank: 60
Mean validation score: -1.614 (std: 0.120)
Parameters: {'alpha': 66.0}

Model with rank: 61
Mean validation score: -1.615 (std: 0.120)
Parameters: {'alpha': 67.0}

Model with rank: 62
Mean validation score: -1.615 (std: 0.115)
Parameters: {'alpha': 6.0}

Model with rank: 63
Mean validation score: -1.615 (std: 0.120)
Parameters: {'alpha': 68.0}

Model with rank: 64
Mean validation score: -1.615 (std: 0.120)
Parameters: {'alpha': 69.0}

Model with rank: 65
Mean validation score: -1.615 (std: 0.120)
Parameters: {'alpha': 70.0}

Model with rank: 66
Mean validation score: -1.615 (std: 0.115)
Parameters: {'alpha': 5.0}

Model with rank: 67
Mean validation score: -1.616 (std: 0.121)
Parameters: {'alpha': 71.0}

Model with rank: 68
Mean validation score: -1.616 (std: 0.121)
Parameters: {'alpha': 72.0}

Model with rank: 69
Mean validation score: -1.616 (std: 0.115)
Parameters: {'alpha': 4.0}

Model with rank: 70
Mean validation score: -1.616 (std: 0.121)
Parameters: {'alpha': 73.0}

Model with rank: 71
Mean validation score: -1.616 (std: 0.121)
Parameters: {'alpha': 74.0}

Model with rank: 72
Mean validation score: -1.617 (std: 0.121)
Parameters: {'alpha': 75.0}

Model with rank: 73
Mean validation score: -1.617 (std: 0.116)
Parameters: {'alpha': 3.0}

Model with rank: 74
Mean validation score: -1.617 (std: 0.121)
Parameters: {'alpha': 76.0}

Model with rank: 75
Mean validation score: -1.617 (std: 0.121)
Parameters: {'alpha': 77.0}

Model with rank: 76
Mean validation score: -1.617 (std: 0.121)
Parameters: {'alpha': 78.0}

Model with rank: 77
Mean validation score: -1.618 (std: 0.121)
Parameters: {'alpha': 79.0}

Model with rank: 78
Mean validation score: -1.618 (std: 0.116)
Parameters: {'alpha': 2.0}

Model with rank: 79
Mean validation score: -1.618 (std: 0.121)
Parameters: {'alpha': 80.0}

Model with rank: 80
Mean validation score: -1.618 (std: 0.121)
Parameters: {'alpha': 81.0}

Model with rank: 81
Mean validation score: -1.618 (std: 0.121)
Parameters: {'alpha': 82.0}

Model with rank: 82
Mean validation score: -1.619 (std: 0.116)
Parameters: {'alpha': 1.0}

Model with rank: 83
Mean validation score: -1.619 (std: 0.122)
Parameters: {'alpha': 83.0}

Model with rank: 84
Mean validation score: -1.619 (std: 0.122)
Parameters: {'alpha': 84.0}

Model with rank: 85
Mean validation score: -1.619 (std: 0.122)
Parameters: {'alpha': 85.0}

Model with rank: 86
Mean validation score: -1.620 (std: 0.122)
Parameters: {'alpha': 86.0}

Model with rank: 87
Mean validation score: -1.620 (std: 0.122)
Parameters: {'alpha': 87.0}

Model with rank: 88
Mean validation score: -1.620 (std: 0.122)
Parameters: {'alpha': 88.0}

Model with rank: 89
Mean validation score: -1.620 (std: 0.122)
Parameters: {'alpha': 89.0}

Model with rank: 90
Mean validation score: -1.621 (std: 0.122)
Parameters: {'alpha': 90.0}

Model with rank: 91
Mean validation score: -1.621 (std: 0.122)
Parameters: {'alpha': 91.0}

Model with rank: 92
Mean validation score: -1.621 (std: 0.122)
Parameters: {'alpha': 92.0}

Model with rank: 93
Mean validation score: -1.622 (std: 0.122)
Parameters: {'alpha': 93.0}

Model with rank: 94
Mean validation score: -1.622 (std: 0.122)
Parameters: {'alpha': 94.0}

Model with rank: 95
Mean validation score: -1.622 (std: 0.122)
Parameters: {'alpha': 95.0}

Model with rank: 96
Mean validation score: -1.622 (std: 0.122)
Parameters: {'alpha': 96.0}

Model with rank: 97
Mean validation score: -1.623 (std: 0.122)
Parameters: {'alpha': 97.0}

Model with rank: 98
Mean validation score: -1.623 (std: 0.122)
Parameters: {'alpha': 98.0}

Model with rank: 99
Mean validation score: -1.623 (std: 0.123)
Parameters: {'alpha': 99.0}

Model with rank: 100
Mean validation score: -1.624 (std: 0.123)
Parameters: {'alpha': 100.0}

In [53]:
test_pred=grid_search.predict(ld_test)

In [54]:
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

## For looking at coefficients

In [55]:
ridge_model=grid_search.best_estimator_

In [56]:
ridge_model.fit(x_train,y_train)

Ridge(alpha=33.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [57]:
list(zip(x_train1.columns,ridge_model.coef_))

[('Amount.Requested', 0.00016694728491458563),
 ('Debt.To.Income.Ratio', -0.0012318165592272812),
 ('Monthly.Income', -2.958745941066143e-05),
 ('Open.CREDIT.Lines', -0.036844456548317195),
 ('Revolving.CREDIT.Balance', -3.0298763520014647e-06),
 ('Inquiries.in.the.Last.6.Months', 0.34256440527076776),
 ('Employment.Length', 0.019386236424857758),
 ('fico', -0.0866470894033935),
 ('Loan.Length_36 months', -2.8391539157194545),
 ('Loan.Purpose_debt_consolidation', -0.37224429580381174),
 ('Loan.Purpose_credit_card', -0.4669643121927723),
 ('Loan.Purpose_other', 0.37826730338506587),
 ('Loan.Purpose_home_improvement', -0.23409022842016053),
 ('Loan.Purpose_major_purchase', -0.013616976256589884),
 ('Loan.Purpose_small_business', 0.08759197675127452),
 ('Loan.Purpose_car', -0.03257553103244007),
 ('Loan.Purpose_wedding', -0.3347599518867084),
 ('Loan.Purpose_medical', -0.09809622633427419),
 ('Loan.Purpose_moving', 0.46418890336399576),
 ('State_CA', -0.09953195660418734),
 ('State_NY', -0.05010586258365044),
 ('State_TX', 0.4246877237607747),
 ('State_FL', 0.019156225627726883),
 ('State_IL', -0.35516156308015384),
 ('State_GA', -0.08937978986862502),
 ('State_PA', -0.2884488285398782),
 ('State_NJ', -0.2158260035578721),
 ('State_VA', -0.0068205341186680256),
 ('State_MA', -0.021151484211526666),
 ('State_OH', -0.13837526923960863),
 ('State_MD', 0.0074043188758405225),
 ('State_NC', -0.250552990250435),
 ('State_CO', 0.08955252000003118),
 ('State_WA', -0.0932608015225566),
 ('State_CT', 0.2487011005044037),
 ('State_AZ', 0.2753625745253661),
 ('State_MI', -0.007178475477557746),
 ('State_AL', 0.009932143762134246),
 ('State_MN', -0.047041779455303925),
 ('State_MO', -0.12622562059305956),
 ('State_NV', -0.01649166255728207),
 ('State_OR', 0.042979132776075735),
 ('State_SC', 0.00610011793845434),
 ('State_WI', 0.06329473893294685),
 ('State_KY', 0.06769778677841294),
 ('State_LA', 0.10832206261195172),
 ('State_OK', -0.09254255640581448),
 ('Home.Ownership_MORTGAGE', -0.305146341684624),
 ('Home.Ownership_RENT', -0.09822137961739777)]

## Lasso Regression

In [58]:
lambdas=np.linspace(1,10,100)
model=Lasso(fit_intercept=True)
params={'alpha':lambdas}

In [59]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [60]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([ 1.        ,  1.09090909,  1.18181818,  1.27272727,  1.36363636,
        1.45454545,  1.5454...
        7.81818182,  7.90909091,  8.        ,  8.09090909,  8.18181818,
        8.27272727,  8.36363636,  8.45454545,  8.54545455,  8.63636364,
        8.72727273,  8.81818182,  8.90909091,  9.        ,  9.09090909,
        9.18181818,  9.27272727,  9.36363636,  9.45454545,  9.54545455,
        9.63636364,  9.72727273,  9.81818182,  9.90909091, 10.        ])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [61]:
grid_search.best_estimator_

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

you can see that, the best value of alpha comes at the edge of the range that we tried , we should expand the trial range on that side and run this again

In [62]:
lambdas=np.linspace(.001,2,100)
params={'alpha':lambdas}

In [63]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([1.00000000e-03, 2.11919192e-02, 4.13838384e-02, 6.15757576e-02,
       8.17...
       1.61635354e+00, 1.63654545e+00, 1.65673737e+00, 1.67692929e+00,
       1.69712121e+00, 1.71731313e+00, 1.73750505e+00, 1.75769697e+00,
       1.77788889e+00, 1.79808081e+00, 1.81827273e+00, 1.83846465e+00,
       1.85865657e+00, 1.87884848e+00, 1.89904040e+00, 1.91923232e+00,
       1.93942424e+00, 1.95961616e+00, 1.97980808e+00, 2.00000000e+00])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [64]:
grid_search.best_estimator_

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [65]:
report(grid_search.cv_results_,5)

Model with rank: 1
Mean validation score: -1.603 (std: 0.120)
Parameters: {'alpha': 0.021191919191919192}

Model with rank: 2
Mean validation score: -1.612 (std: 0.126)
Parameters: {'alpha': 0.041383838383838384}

Model with rank: 3
Mean validation score: -1.615 (std: 0.116)
Parameters: {'alpha': 0.001}

Model with rank: 4
Mean validation score: -1.619 (std: 0.127)
Parameters: {'alpha': 0.061575757575757575}

Model with rank: 5
Mean validation score: -1.624 (std: 0.128)
Parameters: {'alpha': 0.08176767676767677}

In [66]:
lasso_model=grid_search.best_estimator_

In [67]:
lasso_model.fit(x_train,y_train)

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [68]:
list(zip(x_train.columns,lasso_model.coef_))

[('Amount.Requested', 0.00016025576388069374),
 ('Debt.To.Income.Ratio', -0.00099404553350864),
 ('Monthly.Income', -2.7161150694601464e-05),
 ('Open.CREDIT.Lines', -0.037760669422682566),
 ('Revolving.CREDIT.Balance', -3.229158290234788e-06),
 ('Inquiries.in.the.Last.6.Months', 0.32734647665538585),
 ('Employment.Length', 0.011883001638602748),
 ('fico', -0.08647817945138424),
 ('Loan.Length_36 months', -3.009893274484663),
 ('Loan.Purpose_debt_consolidation', -0.17801822304251222),
 ('Loan.Purpose_credit_card', -0.2205326921338361),
 ('Loan.Purpose_other', 0.3196217853383156),
 ('Loan.Purpose_home_improvement', -0.0),
 ('Loan.Purpose_major_purchase', 0.0),
 ('Loan.Purpose_small_business', 0.0),
 ('Loan.Purpose_car', 0.0),
 ('Loan.Purpose_wedding', -0.0),
 ('Loan.Purpose_medical', -0.0),
 ('Loan.Purpose_moving', 0.0),
 ('State_CA', -0.0),
 ('State_NY', 0.0),
 ('State_TX', 0.2592516325019153),
 ('State_FL', 0.0),
 ('State_IL', -0.0),
 ('State_GA', -0.0),
 ('State_PA', -0.0),
 ('State_NJ', -0.0),
 ('State_VA', 0.0),
 ('State_MA', 0.0),
 ('State_OH', -0.0),
 ('State_MD', 0.0),
 ('State_NC', -0.0),
 ('State_CO', 0.0),
 ('State_WA', -0.0),
 ('State_CT', 0.0),
 ('State_AZ', 0.0),
 ('State_MI', 0.0),
 ('State_AL', 0.0),
 ('State_MN', -0.0),
 ('State_MO', -0.0),
 ('State_NV', 0.0),
 ('State_OR', 0.0),
 ('State_SC', 0.0),
 ('State_WI', 0.0),
 ('State_KY', 0.0),
 ('State_LA', 0.0),
 ('State_OK', -0.0),
 ('Home.Ownership_MORTGAGE', -0.1559877775011339),
 ('Home.Ownership_RENT', 0.0)]

# Logistic Regression

In [69]:
import numpy as np
import pandas as pd

In [70]:
train_file=r'~/Dropbox/0.0 Data/rg_train.csv'
test_file=r'~/Dropbox/0.0 Data/rg_test.csv'
bd_train=pd.read_csv(train_file)

bd_test=pd.read_csv(test_file)


bd_test['Revenue.Grid']=np.nan
bd_train['data']='train'
bd_test['data']='test'
bd_test=bd_test[bd_train.columns]
bd_all=pd.concat([bd_train,bd_test],axis=0)

FileNotFoundError: File b'/home/dell/Dropbox/0.0 Data/rg_train.csv' does not exist

In [ ]:
bd_all['Revenue.Grid'].value_counts()

In [ ]:
list(zip(bd_all.columns,bd_all.dtypes,bd_all.nunique()))

In [ ]:
# REF_NO,post_code , post_area  : drop 
# children : Zero : 0 , 4+ : 4 and then convert to numeric
# age_band : dummies 
# status , occupation , occupation_partner , home_status,family_income : dummies
# self_employed, ` : dummies
# TVArea , Region , gender : dummies
# Revenue Grid : 1,2 : 1,0

In [ ]:
bd_all.drop(['REF_NO','post_code','post_area'],axis=1,inplace=True)

In [ ]:
bd_all['children']=np.where(bd_all['children']=='Zero',0,bd_all['children'])
bd_all['children']=np.where(bd_all['children'][:1]=='4',4,bd_all['children'])
bd_all['children']=pd.to_numeric(bd_all['children'],errors='coerce')

In [ ]:
bd_all['Revenue.Grid']=(bd_all['Revenue.Grid']==1).astype(int)

In [ ]:
cat_vars=bd_all.select_dtypes(['object']).columns

cat_vars

In [ ]:
for col in cat_vars[:-1]:
    dummy=pd.get_dummies(bd_all[col],drop_first=True,prefix=col)
    bd_all=pd.concat([bd_all,dummy],axis=1)
    del bd_all[col]
    print(col)
del dummy

In [ ]:
bd_all.shape

In [ ]:
bd_all.isnull().sum()

In [ ]:
bd_all.loc[bd_all['children'].isnull(),'children']=bd_all.loc[bd_all['data']=='train','children'].mean()

In [ ]:
bd_train=bd_all[bd_all['data']=='train']
del bd_train['data']
bd_test=bd_all[bd_all['data']=='test']
bd_test.drop(['Revenue.Grid','data'],axis=1,inplace=True)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [ ]:
params={'class_weight':['balanced',None],
        'penalty':['l1','l2'],
        'C':np.linspace(0.01,1000,10)}

In [ ]:
model=LogisticRegression(fit_intercept=True)

In [ ]:
grid_search=GridSearchCV(model,param_grid=params,cv=5,scoring="roc_auc")

In [ ]:
x_train=bd_train.drop('Revenue.Grid',axis=1)
y_train=bd_train['Revenue.Grid']

In [ ]:
grid_search.fit(x_train,y_train)

In [ ]:
grid_search.best_estimator_

In [ ]:
logr=grid_search.best_estimator_

In [ ]:
report(grid_search.cv_results_,5)

In [ ]:
logr.fit(x_train,y_train)

In [ ]:
cutoffs=np.linspace(0.01,0.99,99)

cutoffs

In [ ]:
train_score=logr.predict_proba(x_train)[:,1]

real=y_train

In [ ]:
train_score>0.2

In [ ]:
KS_all=[]

for cutoff in cutoffs:
    
    predicted=(train_score>cutoff).astype(int)

    TP=((predicted==1) & (real==1)).sum()
    TN=((predicted==0) & (real==0)).sum()
    FP=((predicted==1) & (real==0)).sum()
    FN=((predicted==0) & (real==1)).sum()
    
    P=TP+FN
    N=TN+FP
      
    KS=(TP/P)-(FP/N)
    
    
    KS_all.append(KS)

# try out what cutoffs you get when you use F_beta scores with different values of betas [0.5 , 5]
# beta < 1 : you will get cutoff , which is high ( favours precision)
# beta > 1 : you will get cutoff , which is low (favours precision )

In [ ]:
mycutoff=cutoffs[KS_all==max(KS_all)][0]
mycutoff

In [ ]:
logr.intercept_

In [ ]:
list(zip(x_train.columns,logr.coef_[0]))

if you simply had to submit probability scores , you could do this

In [ ]:
test_score=logr.predict_proba(bd_test)[:,1]
pd.DataFrame(test_score).to_csv("mysubmission.csv",index=False)

if you had to submit hardclasses , you can apply the cutoff obtained above and then submit

In [ ]:
test_classes=(test_score>mycutoff).astype(int)

In [ ]:
pd.DataFrame(test_classes).to_csv("mysubmission.csv",index=False)