In [1]:
# Installing Tensorflow
#!pip install tensorflow --user

# Installing Keras, it runs on TensorFlow
#!pip install --upgrade keras

# Part 1 - Data Preprocessing

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
  stacklevel=1)

In [13]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')

In [14]:
dataset.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [15]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [16]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [17]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [18]:
X[:,1:]

array([['France', 'Female', 42, ..., 1, 1, 101348.88],
       ['Spain', 'Female', 41, ..., 0, 1, 112542.58],
       ['France', 'Female', 42, ..., 1, 0, 113931.57],
       ...,
       ['France', 'Female', 36, ..., 0, 1, 42085.58],
       ['Germany', 'Male', 42, ..., 1, 0, 92888.52],
       ['France', 'Female', 28, ..., 1, 0, 38190.78]], dtype=object)

In [19]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [20]:
X[:,1]

array(['France', 'Spain', 'France', ..., 'France', 'Germany', 'France'],
      dtype=object)

In [10]:
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])

labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

In [11]:
X[:,1]

array([0, 2, 0, ..., 0, 1, 0], dtype=object)

In [21]:
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:] #To overcome dummy variable trap
X

TypeError: __init__() got an unexpected keyword argument 'categorical_features'

In [11]:
pd.DataFrame(X).head()

     0    1      2    3     4    5          6    7    8    9         10
0  0.0  0.0  619.0  0.0  42.0  2.0       0.00  1.0  1.0  1.0  101348.88
1  0.0  1.0  608.0  0.0  41.0  1.0   83807.86  1.0  0.0  1.0  112542.58
2  0.0  0.0  502.0  0.0  42.0  8.0  159660.80  3.0  1.0  0.0  113931.57
3  0.0  0.0  699.0  0.0  39.0  1.0       0.00  2.0  0.0  0.0   93826.63
4  0.0  1.0  850.0  0.0  43.0  2.0  125510.82  1.0  1.0  1.0   79084.10

In [12]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [13]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
pd.DataFrame(X_train).head()

,0,1,2,3,4,5,6,7,8,9,10
0,-0.569844,1.743090,0.169582,-1.091687,-0.464608,0.006661,-1.215717,0.809503,0.642595,-1.032270,1.106432
1,1.754865,-0.573694,-2.304559,0.916013,0.301026,-1.377440,-0.006312,-0.921591,0.642595,0.968738,-0.748664
2,-0.569844,-0.573694,-1.191196,-1.091687,-0.943129,-1.031415,0.579935,-0.921591,0.642595,-1.032270,1.485335
3,-0.569844,1.743090,0.035566,0.916013,0.109617,0.006661,0.473128,-0.921591,0.642595,-1.032270,1.276528
4,-0.569844,1.743090,2.056114,-1.091687,1.736588,1.044737,0.810193,0.809503,0.642595,0.968738,0.558378

In [15]:
#!pip install tensorflow==2.0.0b1 --ignore-installed --user
#!pip install tensorflow --user

In [16]:
# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
import tensorflow
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [17]:
# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))

In [18]:
# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

In [19]:
# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))
#soft max function for more than 2 output variables

In [20]:
# Compiling the ANN means applying SGD on NN
# optimizer: Algorithm(SGD) one of the type is adam, to be applied for finding best weights
# logarthmic loss function is binary_crossentropy else categorical_crossentropy(>2)
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

WARNING: Logging before flag parsing goes to stderr.
W1217 07:13:25.043720 23596 deprecation.py:323] From C:\Users\vishk\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [21]:
# Fitting the ANN to the Training set
#batch size: Number of samples per gradient update
#Number of epochs to train the model. An epoch is an iteration over the entire x and y data provided
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

W1217 07:13:26.289287 23596 deprecation_wrapper.py:119] From C:\Users\vishk\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/100
8000/8000 [==============================] - 2s 301us/step - loss: 0.4864 - accuracy: 0.7961
Epoch 2/100
8000/8000 [==============================] - 2s 230us/step - loss: 0.4280 - accuracy: 0.7960
Epoch 3/100
8000/8000 [==============================] - 2s 242us/step - loss: 0.4226 - accuracy: 0.7960
Epoch 4/100
8000/8000 [==============================] - 2s 232us/step - loss: 0.4187 - accuracy: 0.8183
Epoch 5/100
8000/8000 [==============================] - 2s 242us/step - loss: 0.4167 - accuracy: 0.8265
Epoch 6/100
8000/8000 [==============================] - 2s 235us/step - loss: 0.4148 - accuracy: 0.8285
Epoch 7/100
8000/8000 [==============================] - 2s 231us/step - loss: 0.4131 - accuracy: 0.8304
Epoch 8/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.4122 - accuracy: 0.8316
Epoch 9/100
8000/8000 [==============================] - 2s 251us/step - loss: 0.4110 - accuracy: 0.8319
Epoch 10/100
8000/8000 [==============================] - 2s 278us/step - loss: 0.4099 - accuracy: 0.8330
Epoch 11/100
8000/8000 [==============================] - 2s 275us/step - loss: 0.4089 - accuracy: 0.8341
Epoch 12/100
8000/8000 [==============================] - 2s 254us/step - loss: 0.4079 - accuracy: 0.8339
Epoch 13/100
8000/8000 [==============================] - 2s 263us/step - loss: 0.4073 - accuracy: 0.8341
Epoch 14/100
8000/8000 [==============================] - 2s 264us/step - loss: 0.4068 - accuracy: 0.8339
Epoch 15/100
8000/8000 [==============================] - 2s 249us/step - loss: 0.4061 - accuracy: 0.8349
Epoch 16/100
8000/8000 [==============================] - 2s 239us/step - loss: 0.4055 - accuracy: 0.8351
Epoch 17/100
8000/8000 [==============================] - 2s 249us/step - loss: 0.4043 - accuracy: 0.8344
Epoch 18/100
8000/8000 [==============================] - 2s 247us/step - loss: 0.4047 - accuracy: 0.8356
Epoch 19/100
8000/8000 [==============================] - 2s 264us/step - loss: 0.4039 - accuracy: 0.8351
Epoch 20/100
8000/8000 [==============================] - 2s 275us/step - loss: 0.4039 - accuracy: 0.8356
Epoch 21/100
8000/8000 [==============================] - 2s 271us/step - loss: 0.4037 - accuracy: 0.8353
Epoch 22/100
8000/8000 [==============================] - 2s 235us/step - loss: 0.4033 - accuracy: 0.8355
Epoch 23/100
8000/8000 [==============================] - 2s 245us/step - loss: 0.4032 - accuracy: 0.8355
Epoch 24/100
8000/8000 [==============================] - 2s 240us/step - loss: 0.4032 - accuracy: 0.8335
Epoch 25/100
8000/8000 [==============================] - 2s 241us/step - loss: 0.4026 - accuracy: 0.8342
Epoch 26/100
8000/8000 [==============================] - 2s 253us/step - loss: 0.4021 - accuracy: 0.8341
Epoch 27/100
8000/8000 [==============================] - 2s 263us/step - loss: 0.4029 - accuracy: 0.8365
Epoch 28/100
8000/8000 [==============================] - 2s 222us/step - loss: 0.4025 - accuracy: 0.8351
Epoch 29/100
8000/8000 [==============================] - 2s 242us/step - loss: 0.4022 - accuracy: 0.8357
Epoch 30/100
8000/8000 [==============================] - 2s 248us/step - loss: 0.4018 - accuracy: 0.8344
Epoch 31/100
8000/8000 [==============================] - 2s 233us/step - loss: 0.4015 - accuracy: 0.8351
Epoch 32/100
8000/8000 [==============================] - 2s 226us/step - loss: 0.4021 - accuracy: 0.8353
Epoch 33/100
8000/8000 [==============================] - 2s 230us/step - loss: 0.4019 - accuracy: 0.8363
Epoch 34/100
8000/8000 [==============================] - 2s 227us/step - loss: 0.4017 - accuracy: 0.8353
Epoch 35/100
8000/8000 [==============================] - 2s 222us/step - loss: 0.4016 - accuracy: 0.8345
Epoch 36/100
8000/8000 [==============================] - 2s 226us/step - loss: 0.4016 - accuracy: 0.8342
Epoch 37/100
8000/8000 [==============================] - 2s 223us/step - loss: 0.4007 - accuracy: 0.8351
Epoch 38/100
8000/8000 [==============================] - 2s 218us/step - loss: 0.4011 - accuracy: 0.8335
Epoch 39/100
8000/8000 [==============================] - 2s 226us/step - loss: 0.4014 - accuracy: 0.8364
Epoch 40/100
8000/8000 [==============================] - 2s 222us/step - loss: 0.4012 - accuracy: 0.8342
Epoch 41/100
8000/8000 [==============================] - 2s 211us/step - loss: 0.4011 - accuracy: 0.8347
Epoch 42/100
8000/8000 [==============================] - 2s 237us/step - loss: 0.4009 - accuracy: 0.8345
Epoch 43/100
8000/8000 [==============================] - 2s 247us/step - loss: 0.4006 - accuracy: 0.8370
Epoch 44/100
8000/8000 [==============================] - 2s 238us/step - loss: 0.4006 - accuracy: 0.8351
Epoch 45/100
8000/8000 [==============================] - 2s 243us/step - loss: 0.4007 - accuracy: 0.8369
Epoch 46/100
8000/8000 [==============================] - 2s 239us/step - loss: 0.4003 - accuracy: 0.8366
Epoch 47/100
8000/8000 [==============================] - 2s 245us/step - loss: 0.4004 - accuracy: 0.8350
Epoch 48/100
8000/8000 [==============================] - 2s 243us/step - loss: 0.4008 - accuracy: 0.8349
Epoch 49/100
8000/8000 [==============================] - 2s 246us/step - loss: 0.4006 - accuracy: 0.8354
Epoch 50/100
8000/8000 [==============================] - 2s 245us/step - loss: 0.4004 - accuracy: 0.8366
Epoch 51/100
8000/8000 [==============================] - 2s 243us/step - loss: 0.4007 - accuracy: 0.8345
Epoch 52/100
8000/8000 [==============================] - 2s 241us/step - loss: 0.4006 - accuracy: 0.8351
Epoch 53/100
8000/8000 [==============================] - 2s 242us/step - loss: 0.4007 - accuracy: 0.8370
Epoch 54/100
8000/8000 [==============================] - 2s 249us/step - loss: 0.4003 - accuracy: 0.8347
Epoch 55/100
8000/8000 [==============================] - 2s 223us/step - loss: 0.4003 - accuracy: 0.8354
Epoch 56/100
8000/8000 [==============================] - 2s 219us/step - loss: 0.4004 - accuracy: 0.8365
Epoch 57/100
8000/8000 [==============================] - 2s 232us/step - loss: 0.4004 - accuracy: 0.8349
Epoch 58/100
8000/8000 [==============================] - 2s 228us/step - loss: 0.4002 - accuracy: 0.8354
Epoch 59/100
8000/8000 [==============================] - 2s 213us/step - loss: 0.4004 - accuracy: 0.8342
Epoch 60/100
8000/8000 [==============================] - 2s 214us/step - loss: 0.3997 - accuracy: 0.8339
Epoch 61/100
8000/8000 [==============================] - 2s 250us/step - loss: 0.4001 - accuracy: 0.8345
Epoch 62/100
8000/8000 [==============================] - 2s 222us/step - loss: 0.4000 - accuracy: 0.8353
Epoch 63/100
8000/8000 [==============================] - 2s 217us/step - loss: 0.4000 - accuracy: 0.8351
Epoch 64/100
8000/8000 [==============================] - 2s 216us/step - loss: 0.4005 - accuracy: 0.8353
Epoch 65/100
8000/8000 [==============================] - 2s 215us/step - loss: 0.4003 - accuracy: 0.8351
Epoch 66/100
8000/8000 [==============================] - 2s 217us/step - loss: 0.4002 - accuracy: 0.8355
Epoch 67/100
8000/8000 [==============================] - 2s 215us/step - loss: 0.4002 - accuracy: 0.8355
Epoch 68/100
8000/8000 [==============================] - 2s 215us/step - loss: 0.4001 - accuracy: 0.8366
Epoch 69/100
8000/8000 [==============================] - 2s 213us/step - loss: 0.4003 - accuracy: 0.8351
Epoch 70/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.3998 - accuracy: 0.8363
Epoch 71/100
8000/8000 [==============================] - 2s 215us/step - loss: 0.4003 - accuracy: 0.8353
Epoch 72/100
8000/8000 [==============================] - 2s 218us/step - loss: 0.4002 - accuracy: 0.8344
Epoch 73/100
8000/8000 [==============================] - 2s 222us/step - loss: 0.4005 - accuracy: 0.8350
Epoch 74/100
8000/8000 [==============================] - 2s 233us/step - loss: 0.4001 - accuracy: 0.8339
Epoch 75/100
8000/8000 [==============================] - 2s 248us/step - loss: 0.4002 - accuracy: 0.8361
Epoch 76/100
8000/8000 [==============================] - 2s 217us/step - loss: 0.3999 - accuracy: 0.8359
Epoch 77/100
8000/8000 [==============================] - 2s 215us/step - loss: 0.4000 - accuracy: 0.8354
Epoch 78/100
8000/8000 [==============================] - 2s 225us/step - loss: 0.3994 - accuracy: 0.8365
Epoch 79/100
8000/8000 [==============================] - 2s 228us/step - loss: 0.3997 - accuracy: 0.8332
Epoch 80/100
8000/8000 [==============================] - ETA: 0s - loss: 0.4005 - accuracy: 0.83 - 2s 236us/step - loss: 0.3999 - accuracy: 0.8369
Epoch 81/100
8000/8000 [==============================] - 2s 250us/step - loss: 0.3997 - accuracy: 0.8347
Epoch 82/100
8000/8000 [==============================] - 2s 240us/step - loss: 0.3999 - accuracy: 0.8365
Epoch 83/100
8000/8000 [==============================] - 2s 244us/step - loss: 0.3996 - accuracy: 0.8356
Epoch 84/100
8000/8000 [==============================] - 2s 241us/step - loss: 0.4002 - accuracy: 0.8357
Epoch 85/100
8000/8000 [==============================] - 2s 239us/step - loss: 0.3996 - accuracy: 0.8338
Epoch 86/100
8000/8000 [==============================] - 2s 238us/step - loss: 0.4003 - accuracy: 0.8361
Epoch 87/100
8000/8000 [==============================] - 2s 233us/step - loss: 0.4001 - accuracy: 0.8357
Epoch 88/100
8000/8000 [==============================] - 2s 230us/step - loss: 0.3995 - accuracy: 0.8353
Epoch 89/100
8000/8000 [==============================] - 2s 237us/step - loss: 0.3996 - accuracy: 0.8361
Epoch 90/100
8000/8000 [==============================] - 2s 228us/step - loss: 0.3998 - accuracy: 0.8364
Epoch 91/100
8000/8000 [==============================] - 2s 225us/step - loss: 0.4000 - accuracy: 0.8353
Epoch 92/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.4002 - accuracy: 0.8357
Epoch 93/100
8000/8000 [==============================] - 2s 219us/step - loss: 0.3994 - accuracy: 0.8363
Epoch 94/100
8000/8000 [==============================] - 2s 225us/step - loss: 0.3999 - accuracy: 0.8355
Epoch 95/100
8000/8000 [==============================] - 2s 219us/step - loss: 0.3998 - accuracy: 0.8351
Epoch 96/100
8000/8000 [==============================] - 2s 222us/step - loss: 0.4001 - accuracy: 0.8351
Epoch 97/100
8000/8000 [==============================] - 2s 233us/step - loss: 0.3997 - accuracy: 0.8359
Epoch 98/100
8000/8000 [==============================] - 2s 240us/step - loss: 0.3994 - accuracy: 0.8357
Epoch 99/100
8000/8000 [==============================] - 2s 233us/step - loss: 0.3999 - accuracy: 0.8361
Epoch 100/100
8000/8000 [==============================] - 2s 234us/step - loss: 0.3997 - accuracy: 0.8367

In [22]:
# Part 3 - Making predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [23]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [24]:
cm

array([[1537,   58],
       [ 260,  145]], dtype=int64)

In [25]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import make_scorer
scoring = {'accuracy': make_scorer(accuracy_score),
            'prec': 'precision'}

In [26]:
print("Train Accuracy {:.2%}".format(accuracy_score(y_test,y_pred)))

Train Accuracy 84.10%