In this module we will start with the fabled python package named pandas which has become defacto tool for handling datasets in python. In this videos we will look at following aspects of pandas 

1. Manually creating data frames 
2. Reading data from external file
3. peripheral summary of the data
4. subsetting on the basis of rownumber , colnumber 
5. subsetting on the basis of condition 
6. subsetting on the basis of column names

lets import the package first and then we will create dataframes manually

In [ ]:
import pandas as pd
import numpy as np

there are two ways to create dataframes from list of values as columns . Lets first create some lists values

In [ ]:
age=np.random.randint(low=16,high=80,size=[20,])
city=np.random.choice(['Mumbai','Delhi','Chennai','Kolkata'],20)
default=np.random.choice([0,1],20)

we can zip these to convert them to single list of tuples , each tuple in that list will correspond to a row in the dataframe

In [ ]:
mydata=list(zip(age,city,default))

In [ ]:
mydata

In [ ]:
df=pd.DataFrame(data=mydata,columns=['age','city','default'])

In [ ]:
df

Another way is to put them in a dictionary , you will not need to supply column names separately in this case

In [ ]:
df=pd.DataFrame({'age':age,'city':city,'default':default})

In [ ]:
df

just the process of creating them is different , there is no difference in properties of end result

we can read data from external file very easily using function read_csv from pandas

In [ ]:
file=r'/Users/lalitsachan/Dropbox/PDS V3/Data/loans data.csv'

here r is added at the begning of the path to file to make it a raw string , so that its treated as path as is and any special oocurences are not interpreted as their special meaning by python. For example \n means newline , which will be ignored when we add r at the beginning of the string

In [ ]:
ld=pd.read_csv(file)

to view first few obs of the data we can write

In [ ]:
ld.head()

to get column names we can look attribute column of the data`

In [ ]:
ld.columns

to see type of these columns we can use attribute dtypes

In [ ]:
ld.dtypes

flost64 here correponds to numeric values and object corresponds to categorical columns

to know how many rows and columns are their in the data we can use attribute shape

In [ ]:
ld.shape

this tells us that the data has 2500 rows/observations and 15 columns in it

now lets subset this data on the basis of row and column numbers , keep in mind that count start with 0 for both

In [ ]:
ld1=ld.iloc[3:7,1:5]
ld1

iloc here correponds to subsetting by position , to understand this better lets try to further subset this data

In [ ]:
ld1.iloc[2:4,1:3]

as you can see here the position is relative to current data , not the original one

Generally however we do not subset data by positions , we subset by either conditions or column names , if we are subsetting just on the basis of conditions or just column names we can directly pass those in square brackets

In [ ]:
ld[(ld['Home.Ownership']=='MORTGAGE') & (ld['Monthly.Income']>5000)]

a single column name can be directly passed

In [ ]:
ld['Home.Ownership']

however mulitple column names need to be passed as a list

In [ ]:
ld[['Home.Ownership','Monthly.Income']]

when using both condition and column names we need to use .loc with dataframe name

In [ ]:
ld.loc[(ld['Home.Ownership']=='MORTGAGE') & (ld['Monthly.Income']>5000),['Home.Ownership','Monthly.Income']]

do keep in mind that the accessed elements in these ways can also be modified by equating them to appropriate replacement to them

in order to negate a condition or drop rows on the basis of a conditon , we just need to add a ~ symbol in front of the condition

In [ ]:
ld[~((ld['Home.Ownership']=='MORTGAGE') & (ld['Monthly.Income']>5000))]

in order to drop columns on the basis of names we can make use of the inbuilt drop function

In [ ]:
ld.drop(['Home.Ownership','Monthly.Income'],axis=1)

if you scroll through the output you will find that those columns are no more in the data, this however doesnt modify the original data , these columns are still present in the data

In [ ]:
ld.columns

you can equate the output to original data name in order to change it , like this

In [ ]:
ld=ld.drop(['Home.Ownership','Monthly.Income'],axis=1)

In [ ]:
ld.columns

or you can make use of the inplace option in the drop function to change the data inplace

In [ ]:
ld.drop(['Debt.To.Income.Ratio', 'State'],axis=1,inplace=True)

this changes the data inplace

In [ ]:
ld.columns

notice that those columns are not there in the data inmore , one more thing that you need to be careful with here is that when using inplace=True option, function drop doesnt output anything so dont equate it to original data. if you do original data will end becoming a None type object

another way to delete a column is to use keyword del , the same one which we used in context of dictionary

In [ ]:
del ld['Employment.Length']

In [ ]:
ld.columns

We will stop our dicsusion on pandas dataframe in this video. In the next video , we will see how to add new columns , and modify existing columns in the data. We will also see how to check , count and impute missing value in the data. See you in the next video