# Linear Regression

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
train_file='/home/dell/GIT_REPO/Python_AI_ML/intro-to-ml-with-python-master/week4/data/loan_data_train.csv'
test_file='/home/dell/GIT_REPO/Python_AI_ML/intro-to-ml-with-python-master/week4/data/loan_data_test.csv'

ld_train=pd.read_csv(train_file)
ld_test=pd.read_csv(test_file)

In [ ]:
ld_test.head()

In [ ]:
ld_train.head()

In [ ]:
# lets combine the data for data prep

ld_test['Interest.Rate']=np.nan
ld_train['data']='train'
ld_test['data']='test'
ld_test=ld_test[ld_train.columns]
ld_all=pd.concat([ld_train,ld_test],axis=0)
ld_all

In [ ]:
ld_all.head()

In [ ]:
ld_all.dtypes

In [ ]:
# ID,Amount.Funded.By.Investors : drop 
# Interest Rate , Debt to income ratio : remove % and then to numeric
# Amount.Requested , 'Open.CREDIT.Lines','Revolving.CREDIT.Balance': convert it to numeric 
# FICO.Range : replace it by a numeric column which is average of the range
# Employment Length : convert to number
# Loan Lenth, Loan Purpose , State , Home ownership: dummies for categories with good occurence rate

In [ ]:
ld_all.drop(['ID','Amount.Funded.By.Investors'],axis=1,inplace=True)

In [ ]:
for col in ['Interest.Rate','Debt.To.Income.Ratio']:
    ld_all[col]=ld_all[col].str.replace("%","")

In [ ]:
for col in ['Amount.Requested', 'Interest.Rate','Debt.To.Income.Ratio',
            'Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    ld_all[col]=pd.to_numeric(ld_all[col],errors='coerce')

In [ ]:
k=ld_all['FICO.Range'].str.split("-",expand=True).astype(float)

ld_all['fico']=0.5*(k[0]+k[1])

del ld_all['FICO.Range']

In [ ]:
ld_all['Employment.Length'].value_counts()

In [ ]:
ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('years',"")

ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('year',"")

ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[:2]=="10",10,ld_all['Employment.Length'])

ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[0]=="<",0,ld_all['Employment.Length'])

ld_all['Employment.Length']=pd.to_numeric(ld_all['Employment.Length'],errors='coerce')

In [ ]:
# Notice that to apply string function on pandas data frame columns you need to str attribute
cat_cols=ld_all.select_dtypes(['object']).columns

In [ ]:
cat_cols

In [ ]:
cat_cols=cat_cols[:-1]

In [ ]:
cat_cols

In [ ]:
# you can use following method if you want to ignore categories with too low frequencies ,
#in next section for logistic regression we will be using  pandas' get dummies function. 
# you can work with either of these . 
#ignoring categories with low frequencies however will result in fewer columns without 
# affecting model performance too much .

for col in cat_cols:
    freqs=ld_all[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        ld_all[name]=(ld_all[col]==cat).astype(int)
    del ld_all[col]
    print(col)

In [ ]:
ld_all.shape

In [ ]:
ld_all.isnull().sum()

In [ ]:
for col in ld_all.columns:
    if (col not in ['Interest.Rate','data'])& (ld_all[col].isnull().sum()>0):
        ld_all.loc[ld_all[col].isnull(),col]=ld_all.loc[ld_all['data']=='train',col].mean()

In [ ]:
ld_all.isnull().sum()

In [ ]:
ld_train=ld_all[ld_all['data']=='train']
del ld_train['data']
ld_test=ld_all[ld_all['data']=='test']
ld_test.drop(['Interest.Rate','data'],axis=1,inplace=True)

In [ ]:
del ld_all

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
ld_train1,ld_train2=train_test_split(ld_train,test_size=0.2,random_state=2)

In [ ]:
# Notice that only train data is used for imputing missing values in both train and test 

x_train1=ld_train1.drop('Interest.Rate',axis=1)
y_train1=ld_train1['Interest.Rate']

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lm=LinearRegression()

In [ ]:
lm.fit(x_train1,y_train1)

In [ ]:
x_train1.shape

In [ ]:
lm.intercept_

In [ ]:
list(zip(x_train1.columns,lm.coef_))

In [ ]:
x_train2=ld_train2.drop('Interest.Rate',axis=1)

In [ ]:
predicted_ir=lm.predict(x_train2)

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
mean_absolute_error(ld_train2['Interest.Rate'],predicted_ir)

We know the tentative performance now, lets build the model on entire training to make prediction on test/production

In [ ]:
x_train=ld_train.drop('Interest.Rate',axis=1)
y_train=ld_train['Interest.Rate']

In [ ]:
lm.fit(x_train,y_train)

In [ ]:
test_pred=lm.predict(ld_test)

We can write these to a csv file for submission like this :

In [ ]:
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

# Ridge  Regression

In [ ]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

In [ ]:
lambdas=np.linspace(1,100,100)

In [ ]:
params={'alpha':lambdas}

In [ ]:
model=Ridge(fit_intercept=True)

In [ ]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [ ]:
grid_search.fit(x_train,y_train)

In [ ]:
grid_search.best_estimator_

In [ ]:
grid_search.cv_results_

 if you want you can now fit a ridge regression model with obtained value of alpha , although there is no need, grid search automatically fits the best estimator on the entire data, you can directly use this to make predictions on test_data. But if you want to look at coefficients , its much more convenient to fit the model with direct function

Using the report function given below you can see the cv performance of top few models as well, that will the tentative performance

In [ ]:
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [ ]:
report(grid_search.cv_results_,100)

In [ ]:
test_pred=grid_search.predict(ld_test)

In [ ]:
test_pred

In [ ]:
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

## For looking at coefficients

In [ ]:
ridge_model=grid_search.best_estimator_

In [ ]:
ridge_model.fit(x_train,y_train)

In [ ]:
list(zip(x_train1.columns,ridge_model.coef_))

## Lasso Regression

In [ ]:
lambdas=np.linspace(1,10,100)
model=Lasso(fit_intercept=True)
params={'alpha':lambdas}

In [ ]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [ ]:
grid_search.fit(x_train,y_train)

In [ ]:
grid_search.best_estimator_

you can see that, the best value of alpha comes at the edge of the range that we tried , we should expand the trial range on that side and run this again

In [ ]:
lambdas=np.linspace(.001,2,100)
params={'alpha':lambdas}

In [ ]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')
grid_search.fit(x_train,y_train)

In [ ]:
grid_search.best_estimator_

In [ ]:
report(grid_search.cv_results_,5)

In [ ]:
lasso_model=grid_search.best_estimator_

In [ ]:
lasso_model.fit(x_train,y_train)

In [ ]:
list(zip(x_train.columns,lasso_model.coef_))

# Logistic Regression

In [22]:
import numpy as np
import pandas as pd

In [2]:
train_file='/home/dell/GIT_REPO/DS_R_Language/Edvancer_Class/DataScienceWithR/Data/rg_train.csv'
test_file ='/home/dell/GIT_REPO/DS_R_Language/Edvancer_Class/DataScienceWithR/Data/rg_test.csv'

bd_train=pd.read_csv(train_file)
bd_test=pd.read_csv(test_file)


bd_test['Revenue.Grid']=np.nan
bd_train['data']='train'
bd_test['data']='test'
bd_test=bd_test[bd_train.columns]
bd_all=pd.concat([bd_train,bd_test],axis=0)

In [3]:
bd_all

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Home.Loan,Online.Purchase.Amount,Revenue.Grid,gender,region,Investment.in.Commudity,Investment.in.Equity,Investment.in.Derivative,Portfolio.Balance,data
0,2148,1,45-50,Partner,Professional,Professional,Rent Privately,">=35,000",Yes,Yes,...,2.48,0.00,2.0,Female,South West,65.87,9.27,30.93,87.48,train
1,8099,1,61-65,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",No,No,...,3.99,0.00,2.0,Female,Unknown,42.46,4.49,26.23,110.73,train
2,6611,3,31-35,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,2.0,Male,East Anglia,75.38,0.00,26.66,127.57,train
3,1950,Zero,55-60,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,2.0,Female,North West,34.78,6.91,29.24,33.79,train
4,10857,2,51-55,Partner,Manual Worker,Manual Worker,Own Home,"<27,500, >=25,000",Yes,Yes,...,0.00,0.00,2.0,Female,South West,48.58,9.58,20.65,56.17,train
5,10853,2,31-35,Partner,Professional,Professional,Own Home,"<25,000, >=22,500",No,No,...,7.46,7.98,1.0,Male,North,77.47,38.37,85.35,200.23,train
6,1495,3,36-40,Partner,Secretarial/Admin,Unknown,Own Home,"<25,000, >=22,500",Yes,Yes,...,37.44,31.97,2.0,Female,Scotland,14.49,109.42,109.93,177.31,train
7,9602,1,41-45,Partner,Other,Professional,Own Home,"<15,000, >=12,500",No,No,...,2.99,0.00,2.0,Female,Unknown,161.69,54.87,98.65,306.17,train
8,5402,2,26-30,Partner,Secretarial/Admin,Manual Worker,Own Home,"<17,500, >=15,000",No,No,...,7.48,0.00,2.0,Female,West Midlands,2.00,1.25,0.00,46.31,train
9,6343,3,31-35,Partner,Business Manager,Manual Worker,Own Home,"<27,500, >=25,000",No,No,...,0.00,0.00,2.0,Female,South West,55.19,10.24,24.41,53.09,train
10,6370,3,26-30,Partner,Housewife,Business Manager,Own Home,"<27,500, >=25,000",No,No,...,22.88,0.00,2.0,Female,East Midlands,8.40,16.12,15.97,22.50,train
11,2768,2,41-45,Partner,Secretarial/Admin,Unknown,Own Home,"<27,500, >=25,000",No,Yes,...,16.47,378.22,1.0,Female,North West,37.37,129.05,87.47,193.85,train
12,8769,1,45-50,Partner,Manual Worker,Unknown,Own Home,"<15,000, >=12,500",No,No,...,0.00,31.99,2.0,Male,South East,11.60,12.49,7.16,61.26,train
13,2097,1,26-30,Single/Never Married,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.80,2.0,Female,Unknown,60.47,14.78,30.89,93.72,train
14,4672,1,45-50,Partner,Housewife,Professional,Own Home,">=35,000",No,Yes,...,0.00,18.45,2.0,Female,South East,81.96,39.62,69.36,190.06,train
15,9816,Zero,51-55,Partner,Housewife,Retired,Own Home,"<27,500, >=25,000",No,No,...,0.00,0.00,2.0,Female,East Anglia,20.29,38.04,44.03,121.42,train
16,11226,Zero,65-70,Partner,Retired,Retired,Own Home,"<22,500, >=20,000",No,No,...,1.99,0.00,2.0,Male,South East,6.70,8.83,14.07,12.45,train
17,2614,Zero,61-65,Partner,Retired,Retired,Own Home,"<22,500, >=20,000",No,No,...,0.00,0.00,2.0,Female,South East,44.18,14.57,23.06,86.69,train
18,5135,2,36-40,Partner,Secretarial/Admin,Secretarial/Admin,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,2.0,Female,North West,24.69,0.00,5.00,37.57,train
19,853,Zero,51-55,Partner,Secretarial/Admin,Manual Worker,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,2.0,Female,East Anglia,12.10,9.24,9.24,2.13,train
20,7625,1,26-30,Partner,Secretarial/Admin,Manual Worker,Own Home,">=35,000",No,No,...,0.00,0.00,2.0,Female,North West,0.00,0.83,0.83,-19.21,train
21,4466,1,41-45,Divorced/Separated,Professional,Unknown,Own Home,"<25,000, >=22,500",No,No,...,19.44,0.00,2.0,Female,North West,0.00,6.57,3.33,40.82,train
22,9630,1,55-60,Partner,Professional,Professional,Own Home,">=35,000",Yes,Yes,...,4.38,30.00,2.0,Female,East Anglia,82.46,30.05,57.64,210.79,train
23,1738,Zero,65-70,Widowed,Retired,Unknown,Own Home,"< 4,000",No,No,...,0.00,0.00,2.0,Female,North West,10.89,19.57,27.06,-13.34,train
24,4014,2,26-30,Partner,Other,Manual Worker,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,2.0,Female,South East,16.28,5.50,7.41,91.96,train
25,5632,Zero,45-50,Partner,Secretarial/Admin,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,2.0,Female,South East,26.88,8.49,14.48,71.15,train
26,1724,2,51-55,Partner,Business Manager,Retired,Own Home,"<27,500, >=25,000",Yes,No,...,9.98,0.00,2.0,Male,North West,29.08,20.47,31.97,67.41,train
27,4123,3,31-35,Partner,Other,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,2.0,Female,Northern Ireland,5.20,9.24,13.57,87.36,train
28,11056,1,31-35,Partner,Housewife,Professional,Rent Privately,">=35,000",No,No,...,0.00,0.00,2.0,Female,South East,27.98,10.42,21.07,70.55,train
29,1529,Zero,51-55,Partner,Business Manager,Manual Worker,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,2.0,Male,North West,16.78,37.29,41.20,84.67,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,11362,2,31-35,Partner,Professional,Professional,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,NaN,Male,South East,5.39,6.49,7.66,-59.67,test
2002,11363,2,36-40,Partner,Professional,Secretarial/Admin,Own Home,">=35,000",No,No,...,0.00,0.00,NaN,Male,South West,21.68,43.97,58.12,138.94,test
2003,11369,Zero,51-55,Partner,Other,Manual Worker,Own Home,"<15,000, >=12,500",No,No,...,3.49,0.00,NaN,Female,North West,17.79,10.24,11.16,34.53,test
2004,11373,Zero,55-60,Partner,Retired,Retired,Own Home,"<17,500, >=15,000",No,No,...,0.00,0.00,NaN,Female,South East,59.66,0.00,12.41,61.77,test
2005,11377,2,31-35,Partner,Professional,Business Manager,Own Home,">=35,000",No,No,...,1.99,0.00,NaN,Female,Scotland,53.06,8.16,34.06,58.17,test
2006,11380,Zero,65-70,Partner,Unknown,Unknown,Own Home,"<17,500, >=15,000",No,No,...,0.00,0.00,NaN,Male,West Midlands,7.69,13.82,16.65,105.79,test
2007,11382,Zero,31-35,Single/Never Married,Secretarial/Admin,Business Manager,Own Home,">=35,000",No,No,...,0.00,0.00,NaN,Female,South East,62.38,5.50,24.24,59.78,test
2008,11383,Zero,45-50,Partner,Secretarial/Admin,Professional,Own Home,">=35,000",No,No,...,0.00,121.44,NaN,Female,South East,37.50,23.15,11.27,21.40,test
2009,11386,2,36-40,Divorced/Separated,Secretarial/Admin,Unknown,Rent from Council/HA,"<15,000, >=12,500",No,No,...,32.16,319.84,NaN,Female,South East,66.05,102.05,66.03,228.27,test
2010,11398,Zero,51-55,Partner,Professional,Manual Worker,Own Home,"<25,000, >=22,500",Yes,Yes,...,0.00,0.00,NaN,Male,Scotland,3.20,2.67,5.33,6.65,test
2011,11400,1,45-50,Partner,Professional,Housewife,Own Home,"<15,000, >=12,500",No,Yes,...,0.00,0.00,NaN,Male,Scotland,33.68,4.25,11.25,38.23,test
2012,11410,Zero,41-45,Partner,Manual Worker,Manual Worker,Own Home,"<22,500, >=20,000",Yes,Yes,...,0.00,0.00,NaN,Female,South West,24.69,9.32,13.49,74.20,test
2013,11412,Zero,45-50,Partner,Business Manager,Professional,Own Home,"<30,000, >=27,500",No,No,...,1.99,39.93,NaN,Male,North West,18.08,33.38,37.97,55.92,test
2014,11416,2,31-35,Partner,Housewife,Manual Worker,Own Home,"<17,500, >=15,000",No,No,...,4.49,0.00,NaN,Female,East Midlands,5.79,1.16,5.24,38.39,test
2015,11427,Zero,41-45,Partner,Professional,Manual Worker,Own Home,">=35,000",Yes,Yes,...,7.99,6.99,NaN,Female,North West,170.14,143.32,220.72,530.94,test
2016,11433,1,26-30,Partner,Manual Worker,Secretarial/Admin,Own Home,"<20,000, >=17,500",No,No,...,1.49,8.98,NaN,Female,East Anglia,62.25,51.71,96.01,176.45,test
2017,11444,Zero,61-65,Partner,Retired,Retired,Own Home,"<15,000, >=12,500",No,No,...,0.00,0.00,NaN,Male,West Midlands,28.38,38.39,55.05,117.75,test
2018,11447,Zero,36-40,Partner,Professional,Professional,Own Home,">=35,000",No,Yes,...,0.00,0.00,NaN,Female,South West,18.69,0.91,16.48,43.66,test
2019,11450,Zero,26-30,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,NaN,Female,South East,4.80,3.92,7.91,32.21,test
2020,11454,Zero,61-65,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",Yes,No,...,0.00,0.00,NaN,Male,North West,0.00,3.67,3.67,-22.64,test
2021,11470,Zero,22-25,Single/Never Married,Student,Unknown,Live in Parental Hom,"< 4,000",No,No,...,19.98,27.95,NaN,Female,East Anglia,0.00,41.37,33.38,85.08,test
2022,11474,1,55-60,Partner,Professional,Retired,Own Home,"<20,000, >=17,500",No,No,...,0.00,72.46,NaN,Female,West Midlands,46.96,27.86,37.50,151.46,test
2023,11475,Zero,22-25,Partner,Secretarial/Admin,Secretarial/Admin,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,NaN,Female,South East,50.38,0.00,2.58,85.58,test
2024,11481,2,36-40,Partner,Other,Manual Worker,Own Home,"<17,500, >=15,000",No,No,...,21.48,0.00,NaN,Female,South West,84.27,11.08,27.65,104.03,test
2025,11488,Zero,22-25,Single/Never Married,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,NaN,Female,Unknown,16.78,25.72,39.71,99.46,test
2026,11496,2,41-45,Partner,Professional,Professional,Own Home,"<30,000, >=27,500",No,No,...,0.00,80.92,NaN,Female,North West,0.00,15.98,2.50,29.00,test
2027,11503,1,45-50,Partner,Business Manager,Professional,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,NaN,Female,North West,24.39,2.00,16.49,84.08,test
2028,11509,Zero,61-65,Partner,Retired,Retired,Own Home,"< 8,000, >= 4,000",No,No,...,7.49,0.00,NaN,Female,North West,20.59,8.25,13.49,61.10,test
2029,11511,Zero,55-60,Partner,Unknown,Housewife,Own Home,"<27,500, >=25,000",Yes,No,...,11.97,48.98,NaN,Male,North West,86.93,25.59,55.39,170.07,test
2030,11514,2,41-45,Partner,Housewife,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,NaN,Female,South East,52.77,0.00,14.07,76.18,test

In [4]:
bd_all['Revenue.Grid'].value_counts()

2.0    7261
1.0     863
Name: Revenue.Grid, dtype: int64

In [5]:
list(zip(bd_all.columns,bd_all.dtypes,bd_all.nunique()))

[('REF_NO', dtype('int64'), 10155),
 ('children', dtype('O'), 5),
 ('age_band', dtype('O'), 13),
 ('status', dtype('O'), 5),
 ('occupation', dtype('O'), 9),
 ('occupation_partner', dtype('O'), 9),
 ('home_status', dtype('O'), 5),
 ('family_income', dtype('O'), 13),
 ('self_employed', dtype('O'), 2),
 ('self_employed_partner', dtype('O'), 2),
 ('year_last_moved', dtype('int64'), 95),
 ('TVarea', dtype('O'), 14),
 ('post_code', dtype('O'), 10040),
 ('post_area', dtype('O'), 2039),
 ('Average.Credit.Card.Transaction', dtype('float64'), 1411),
 ('Balance.Transfer', dtype('float64'), 2183),
 ('Term.Deposit', dtype('float64'), 1419),
 ('Life.Insurance', dtype('float64'), 3111),
 ('Medical.Insurance', dtype('float64'), 1589),
 ('Average.A.C.Balance', dtype('float64'), 2223),
 ('Personal.Loan', dtype('float64'), 1760),
 ('Investment.in.Mutual.Fund', dtype('float64'), 2470),
 ('Investment.Tax.Saving.Bond', dtype('float64'), 832),
 ('Home.Loan', dtype('float64'), 884),
 ('Online.Purchase.Amount', dtype('float64'), 1319),
 ('Revenue.Grid', dtype('float64'), 2),
 ('gender', dtype('O'), 3),
 ('region', dtype('O'), 13),
 ('Investment.in.Commudity', dtype('float64'), 3558),
 ('Investment.in.Equity', dtype('float64'), 3250),
 ('Investment.in.Derivative', dtype('float64'), 3796),
 ('Portfolio.Balance', dtype('float64'), 8317),
 ('data', dtype('O'), 2)]

In [6]:
# REF_NO,post_code , post_area  : drop 
# children : Zero : 0 , 4+ : 4 and then convert to numeric
# age_band : dummies 
# status , occupation , occupation_partner , home_status,family_income : dummies
# self_employed, ` : dummies
# TVArea , Region , gender : dummies
# Revenue Grid : 1,2 : 1,0

In [7]:
bd_all.drop(['REF_NO','post_code','post_area'],axis=1,inplace=True)

In [8]:
bd_all['children']=np.where(bd_all['children']=='Zero',0,bd_all['children'])
bd_all['children']=np.where(bd_all['children'][:1]=='4',4,bd_all['children'])
bd_all['children']=pd.to_numeric(bd_all['children'],errors='coerce')

In [9]:
bd_all['Revenue.Grid']=(bd_all['Revenue.Grid']==1).astype(int)

In [10]:
cat_vars=bd_all.select_dtypes(['object']).columns

cat_vars

Index(['age_band', 'status', 'occupation', 'occupation_partner', 'home_status',
       'family_income', 'self_employed', 'self_employed_partner', 'TVarea',
       'gender', 'region', 'data'],
      dtype='object')

In [11]:
for col in cat_vars[:-1]:
    dummy=pd.get_dummies(bd_all[col],drop_first=True,prefix=col)
    bd_all=pd.concat([bd_all,dummy],axis=1)
    del bd_all[col]
    print(col)
del dummy

age_band
status
occupation
occupation_partner
home_status
family_income
self_employed
self_employed_partner
TVarea
gender
region

In [12]:
bd_all.shape

(10155, 96)

In [13]:
bd_all.isnull().sum()

children                           19
year_last_moved                     0
Average.Credit.Card.Transaction     0
Balance.Transfer                    0
Term.Deposit                        0
Life.Insurance                      0
Medical.Insurance                   0
Average.A.C.Balance                 0
Personal.Loan                       0
Investment.in.Mutual.Fund           0
Investment.Tax.Saving.Bond          0
Home.Loan                           0
Online.Purchase.Amount              0
Revenue.Grid                        0
Investment.in.Commudity             0
Investment.in.Equity                0
Investment.in.Derivative            0
Portfolio.Balance                   0
data                                0
age_band_22-25                      0
age_band_26-30                      0
age_band_31-35                      0
age_band_36-40                      0
age_band_41-45                      0
age_band_45-50                      0
age_band_51-55                      0
age_band_55-60                      0
age_band_61-65                      0
age_band_65-70                      0
age_band_71+                        0
                                   ..
family_income_Unknown               0
self_employed_Yes                   0
self_employed_partner_Yes           0
TVarea_Border                       0
TVarea_Carlton                      0
TVarea_Central                      0
TVarea_Grampian                     0
TVarea_Granada                      0
TVarea_HTV                          0
TVarea_Meridian                     0
TVarea_Scottish TV                  0
TVarea_TV South West                0
TVarea_Tyne Tees                    0
TVarea_Ulster                       0
TVarea_Unknown                      0
TVarea_Yorkshire                    0
gender_Male                         0
gender_Unknown                      0
region_East Anglia                  0
region_East Midlands                0
region_Isle of Man                  0
region_North                        0
region_North West                   0
region_Northern Ireland             0
region_Scotland                     0
region_South East                   0
region_South West                   0
region_Unknown                      0
region_Wales                        0
region_West Midlands                0
Length: 96, dtype: int64

In [14]:
bd_all.loc[bd_all['children'].isnull(),'children']=bd_all.loc[bd_all['data']=='train','children'].mean()

In [15]:
bd_train=bd_all[bd_all['data']=='train']
del bd_train['data']
bd_test=bd_all[bd_all['data']=='test']
bd_test.drop(['Revenue.Grid','data'],axis=1,inplace=True)

/home/dell/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import GridSearchCV

In [17]:
params={'class_weight':['balanced',None],
        'penalty':['l1','l2'],
        'C':np.linspace(0.01,1000,10)}

In [18]:
model=LogisticRegression(fit_intercept=True)

In [19]:
grid_search=GridSearchCV(model,param_grid=params,cv=5,scoring="roc_auc")

NameError: name 'GridSearchCV' is not defined

In [ ]:
x_train=bd_train.drop('Revenue.Grid',axis=1)
y_train=bd_train['Revenue.Grid']

In [ ]:
grid_search.fit(x_train,y_train)

In [ ]:
grid_search.best_estimator_

In [ ]:
logr=grid_search.best_estimator_

In [ ]:
report(grid_search.cv_results_,5)

In [ ]:
logr.fit(x_train,y_train)

In [ ]:
cutoffs=np.linspace(0.01,0.99,99)

cutoffs

In [ ]:
train_score=logr.predict_proba(x_train)[:,1]

real=y_train

In [ ]:
train_score>0.2

In [ ]:
KS_all=[]

for cutoff in cutoffs:
    
    predicted=(train_score>cutoff).astype(int)

    TP=((predicted==1) & (real==1)).sum()
    TN=((predicted==0) & (real==0)).sum()
    FP=((predicted==1) & (real==0)).sum()
    FN=((predicted==0) & (real==1)).sum()
    
    P=TP+FN
    N=TN+FP
      
    KS=(TP/P)-(FP/N)
    
    
    KS_all.append(KS)

# try out what cutoffs you get when you use F_beta scores with different values of betas [0.5 , 5]
# beta < 1 : you will get cutoff , which is high ( favours precision)
# beta > 1 : you will get cutoff , which is low (favours precision )

In [ ]:
mycutoff=cutoffs[KS_all==max(KS_all)][0]
mycutoff

In [ ]:
logr.intercept_

In [ ]:
list(zip(x_train.columns,logr.coef_[0]))

if you simply had to submit probability scores , you could do this

In [ ]:
test_score=logr.predict_proba(bd_test)[:,1]
pd.DataFrame(test_score).to_csv("mysubmission.csv",index=False)

if you had to submit hardclasses , you can apply the cutoff obtained above and then submit

In [ ]:
test_classes=(test_score>mycutoff).astype(int)

In [ ]:
pd.DataFrame(test_classes).to_csv("mysubmission.csv",index=False)